{% extends 'base.html.twig' %}

{% block title %}Search expansion chips - TRW{% endblock %}

{% block metatags %}
	<meta name="description" content="Search for a expansion chip by name, manufacturer and part number.">
	<link rel="alternate" hreflang="x-default" href="{{ absolute_url(path('expansionchipsearch')) }}"/>
{% endblock %}
{% block extra_javascripts %}
	<script src="/build/js/tom-select.complete.min.js" defer></script>
	<script src="/build/js/search.js" defer></script>
{% endblock %}
{% block subnav %}
<a href="{{ path('expansionchipsearch') }}" class="nav-link active">
	<span class="navbar-label">Expansion chip</span>
</a>
<a href="{{ path('chipsetsearch') }}" class="nav-link">
	<span class="navbar-label">Chipset</span>
</a>
{% endblock %}
{% block body %}
	{{ form_start(form, {'method': 'POST', 'name': 'search_expansionchip', 'action':path("expansionchipsearch"), 'attr':{'onkeydown': 'return event.key != \'Enter\'', 'data-live-action': path('expansionchiplivewrapper')}}) }}
	<fieldset id="search-fieldset">
		<div class="title">Search for expansion chips</div>
		<section class="search-form-grid" style="display:flex;justify-content:center;flex-wrap:wrap;">
			<div class="search-form-entry" style="min-width:min(27em,50vw);">
				<label class="search-form-label" for="search_expansionChipManufacturer" title="This is where you select the manufacturer name and enter the expansionchip part number.">
					<span>Manufacturer and name</span>
					<img src="{{ absolute_url(asset('build/icons/help.svg')) }}" alt="" width="16" height="16">
				</label>
				<div class="search-form-widget">
					<div>{{ form_widget(form.expansionChipManufacturer) }}</div>
					<div>{{ form_widget(form.name, {'attr': {'placeholder': 'Name or Part number (without manufacturer) ...'}}) }}</div>
				</div>
			</div>
			<div class="search-form-entry" style="min-width:min(27em,50vw);">
				<label class="search-form-label" for="search_type" title="This is where you select the chip type.">
					<span>Chip type</span>
					<img src="{{ absolute_url(asset('build/icons/help.svg')) }}" alt="" width="16" height="16">
				</label>
				<div class="search-form-widget">
					<div>{{ form_widget(form.type) }}</div>
				</div>
			</div>
			<div class="search-form-entry">
				<label class="search-form-label" for="search_deviceId">
					<span>Device ID</span>
				</label>
				<div class="search-form-widget">
					<div>{{ form_widget(form.deviceId) }}</div>
				</div>
			</div>
		</section>
		{% include 'macros/searchitems.html.twig' with {'datatarget': 'expansion-chips', 'dataresetids': 'search_expansionChipManufacturer', 'search_with_images' : true} %}
	</fieldset>
	{{ form_end(form, {render_rest: false}) }}
	<!-- Search results -->
	<section id="search_liveResults">
	{% if expansionchips is defined %}
		{% include 'expansion_chip/result.html.twig' with {'expansionchips': expansionchips, 'show_images': show_images, 'route': true} %}
	{% endif %}
	</section>
{% endblock %}
