{% extends 'base.html.twig' %}
{% from 'macros/largeFile.html.twig' import link as driverLink %}
{% from 'macros/largeFile.html.twig' import header as driverHeader %}

{% block title %}
	{{ expansion_chip.getNameWithManufacturer() }}
{% endblock %}
{% block metatags %}
	<meta name="description" content="Expansion chip:{{ expansion_chip.getNameWithManufacturer() }}">
{% endblock %}
{% block extra_javascripts %}
	<script src="/build/js/show.js" defer></script>
{% endblock %}

{% block opengraph %}
	{% apply spaceless %}
	<meta property="og:title" content="{{ expansion_chip.getNameWithManufacturer() }}">
	<meta property="og:description" content="Get info, images and drivers for the {{ expansion_chip.getNameWithManufacturer() }} expansion chip">
	{% if expansion_chip.getImages() is not empty %}
		{% for image in expansion_chip.getImages()|sort((a, b) => a.getFileName() <=> b.getFileName())|slice(0, 1) %}
			<meta name="twitter:image" content="{{ vich_uploader_asset(image, 'imageFile')}}">
			<meta property="og:image" content="{{ vich_uploader_asset(image, 'imageFile')}}">
		{% endfor %}
	{% else %}
		<meta name="twitter:image" content="{{ absolute_url(asset('build/images/missing/chip-missing.jpg')) }}">
		<meta property="og:image" content="{{ absolute_url(asset('build/images/missing/chip-missing.jpg')) }}">
	{% endif %}
	{% endapply %}
	<link rel="alternate" hreflang="x-default" href="{{ absolute_url(path('expansion_chip_show', {id: expansion_chip.getId()})) }}"/>
{% endblock %}
{% block subnav %}
<a href="{{ path('expansionchipsearch') }}" class="nav-link active">
	<span class="navbar-label">Expansion chip</span>
</a>
<a href="{{ path('chipsetsearch') }}" class="nav-link">
	<span class="navbar-label">Chipset</span>
</a>
{% endblock %}
{% block body %}
<!-- MANUF./NAME/PART NO. -->
<div class="title">{{ expansion_chip.getNameWithManufacturer() }}</div>
<div class="main-strip">
	<div class="internal-container">
		{% include 'macros/navbar.html.twig' with {'entity': expansion_chip, 'entityName': 'ExpansionChip', 'name': 'chip'} %}
		<div class="internal-content">
			<!-- DESCRIPRION -->
			<div class="show-general" id="sh-general">
				<div class="quick-spec-table">
					<!-- Type -->
					<div class="quick-spec-head"><img src="{{ absolute_url(asset('build/icons/chip.svg')) }}" alt="date" width="24" height="24">Type</div>
					<div>{{expansion_chip.getType().getName()}}</div>
					<!-- Vendor ID -->
					<div class="quick-spec-head"><img src="{{ absolute_url(asset('build/icons/tag.svg')) }}" alt="date" width="24" height="24">Vendor ID</div>
					<div class="tag-container">
					{% if expansion_chip.getManufacturer().getPciVendorIds() is not empty %}
						{% for vendor in expansion_chip.getManufacturer().getPciVendorIds() %}
							<span class="text-block">{{vendor.getVen()}}</span>
						{% endfor %}
					{% else %}
						<div>Unknown</div>
					{% endif %}
					</div>
					<!-- Device ID -->
					<div class="quick-spec-head"><img src="{{ absolute_url(asset('build/icons/tag.svg')) }}" alt="date" width="24" height="24">Device ID</div>
					<div class="tag-container">
					{% if expansion_chip.getPciDevs() is not empty %}
						{% for device in expansion_chip.getPciDevs() %}
							<span class="text-block">{{device.getDev()}}</span>
						{% endfor %}
					{% else %}
						<div>Unknown</div>
					{% endif %}
					</div>
					<!-- Actions -->
					<div class="quick-spec-head">
						<img src="{{ absolute_url(asset('build/icons/cursor.svg')) }}" alt="act" width="24" height="24">Actions
					</div>
					<div>
					<div class="toolbar">
						<a class='button-widget' href="{{ absolute_url(path('app_homepage')) }}motherboards/?expansionChipIds%5B0%5D={{ expansion_chip.getId() }}&amp;showImages=1">
							<img src='{{ absolute_url(asset('build/icons/hardware.svg')) }}' alt='' width='16' height='16' style='vertical-align:middle;padding:3px;'>See all boards with this chip</a>
						</div>
					</div>
				</div>
				{% include 'macros/aliases.html.twig' with {'entity':expansion_chip.getChipAliases(), 'msg': 'Also known as:'} %}
				{% include 'macros/notes.html.twig' with {'entity': expansion_chip} %}
				<!-- DRIVERS -->
				<div class="show-downloads-group">
					<div class="show-downloads-group-header">
						<img src="{{ absolute_url(asset('build/icons/hardware.svg')) }}" alt="drv" width="32" height="32">
						<span>{{ expansion_chip.getDrivers.count() }} driver{% if expansion_chip.getDrivers.count() != 1 %}s{% endif %} available</span>
					</div>
					{% if expansion_chip.getDrivers() is not empty %}
					<div class="plain-list w300p table">
						<div class="list-entry centered head">
							<div>Language</div>
							<div>Media type</div>
							<div>OS support</div>
							<div>Name</div>
							<div>Version</div>
						</div>
						{% for driver in expansion_chip.getDrivers() %}
						<div class="list-entry centered {% if loop.index is divisible by(2) %}alt{% endif %}">
							<div class="header-label">Language</div>
							<div>
								<div class="tag-container">
								{% for lang in driver.largeFile.getLanguages() %}
								<span class="combo">
									<img src="{{ asset('build/icons/language/' ~ lang.getIsoCode ~ '.svg') }}" alt="{{lang.getOriginalName()}}" title="{{lang.getOriginalName()}}" class="lang-flag{% if loop.length > 4 %}-lrg{% endif %}">
								</span>
								{% endfor %}
								</div>
							</div>
							<div class="header-label">Media type</div>
							<div>
								{% for relation in driver.largeFile.getMediaTypeFlags() %}
								<span class="combo">
									<b>{{relation.getCount()}}x</b>
									<img src="{{ vich_uploader_asset(relation.getMediaTypeFlag(), 'icon')}}" alt="{{relation.getMediaTypeFlag().getName()}}" title="{{relation.getMediaTypeFlag().getName()}}" width="32">
								</span>
								{% endfor %}
							</div>
							<div class="header-label">OS support</div>
							<div>
								<div class="tag-container">
								{% for os in driver.largeFile.getOsFlags()|sort((a, b) => a.getName <=> b.getName)|sort((a, b) => a.getVersion <=> b.getVersion) %}
								<span class="text-block">
									<img src="{{ asset('build/icons/os/' ~ os.getVersion ~ '.svg') }}" alt="{{os.getVersion}}"  width="16">
									<span>{{os.getName()}}</span>
								</span>
								{% endfor %}
								</div>
							</div>
							<div class="header-label">Name</div>
							<div><a href="{{ path("driver_show", {id: driver.largeFile.getId()}) }}">{{driver.largeFile.getName()}}</a></div>
							<div class="header-label">Version</div>
							<div>
								<a class="combo" href="{{ vich_uploader_asset(driver.largeFile, 'file')}}">
									<img src="{{ absolute_url(asset('build/icons/dw.svg')) }}" alt="" width="16">
									<span>{{ driver.largeFile.getFileVersion() ? driver.largeFile.getFileVersion() : 'Unknown' }}</span>
								</a>
							</div>
						</div>
						{% endfor %}
					</div>
					{% else %}
					{% endif %}
				</div>
				<!-- MANUALS -->
				<div class="show-downloads-group">
					{% set allDocs = expansion_chip.getDocumentations() %}
					<div class="show-downloads-group-header">
						<img src="{{ absolute_url(asset('build/icons/manual.svg')) }}" alt="doc" width="32" height="32">
						<span>{{ allDocs|length }} document{% if allDocs|length != 1 %}s{% endif %} available</span>
					</div>
					{% if allDocs is not empty %}
					<div class="plain-list w300p table">
						<div class="list-entry centered head">
							<div>Language</div>
							<div>File</div>
						</div>
						{% for manual in allDocs|sort((a, b) => a.getLinkName <=> b.getLinkName) %}
						<div class="list-entry centered {% if loop.index is divisible by(2) %}alt{% endif %}">
							<div class="header-label">Language</div>
							<div>{{ manual.getLanguage().getName()}}</div>
							<div class="header-label">File</div>
							<div>
								<a class="combo" href="{{ vich_uploader_asset(manual, 'manualFile') }}">
									<img src="{{ absolute_url(asset('build/icons/dw.svg')) }}" alt="" width="16" height="16">
									<span>{{ manual.getLinkName() }}</span>
								</a>
							</div>
						</div>
						{% endfor %}
					</div>
					{% endif %}
				</div>
				<div id="index-datetime"><div class="div-datetime">Last updated <span class="perk-date">{{ expansion_chip.getLastEdited()|date("Y-m-d\\TH:i:s", "GMT") }}Z</span></div></div>
			</div>
		</div>
	</div>

	<!-- IMAGES -->
	<div class="show-images" id="sh-images">
	{% if expansion_chip.getImages() is not empty %}
		{% set lpindex = 0 %}
		{% for image in expansion_chip.getImages()|sort((a, b) => a.getFileName() <=> b.getFileName()) %}
			{% set lpindex = lpindex + 1 %}
			{% include 'macros/images.html.twig' with {'type':'expansionchip', 'entity': image, 'index': lpindex, 'length': expansion_chip.getImages()|length} %}
		{% endfor %}
	{% else %}
		<div class="show-images">
			<img src={{ absolute_url(asset('build/images/missing/chip-missing.jpg')) }} title="no images available :(" style="width:100%;">
		</div>
	{% endif %}
	</div>

</div>
<div class="disclaimer">
	<p><b>Disclaimer</b></p>
	<p>The info found in this page might not be entirely correct. Check out <a href="{{ path('app_contributions') }}">this guide</a> to learn how you can improve it.</p>
</div>
{% endblock %}
