<?xml version="1.0" encoding="UTF-8"?>
<urlset
      xmlns="http://www.sitemaps.org/schemas/sitemap/0.9"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.sitemaps.org/schemas/sitemap/0.9
            http://www.sitemaps.org/schemas/sitemap/0.9/sitemap.xsd">
    <url>
        <loc>{{ absolute_url(path('app_homepage')) }}</loc>
        <lastmod>{{mod_date}}</lastmod>
        <priority>1.0</priority>
        <changefreq>daily</changefreq>
    </url>
    <url>
        <loc>{{ absolute_url(path('app_support')) }}</loc>
        <lastmod>{{mod_date}}</lastmod>
        <priority>0.2</priority>
        <changefreq>monthly</changefreq>
    </url>
    <url>
        <loc>{{ absolute_url(path('app_info')) }}</loc>
        <lastmod>{{mod_date}}</lastmod>
        <priority>0.2</priority>
        <changefreq>monthly</changefreq>
    </url>
    <url>
        <loc>{{ absolute_url(path('app_credits')) }}</loc>
        <lastmod>{{mod_date}}</lastmod>
        <priority>0.2</priority>
        <changefreq>monthly</changefreq>
    </url>
    <url>
        <loc>{{ absolute_url(path('app_contributions')) }}</loc>
        <lastmod>{{mod_date}}</lastmod>
        <priority>0.2</priority>
        <changefreq>monthly</changefreq>
    </url>
    <url>
        <loc>{{ absolute_url(path('app_legal')) }}</loc>
        <lastmod>{{mod_date}}</lastmod>
        <priority>0.2</priority>
        <changefreq>monthly</changefreq>
    </url>
    <url>
        <loc>{{ absolute_url(path('mobosearch')) }}</loc>
        <lastmod>{{mod_date}}</lastmod>
        <priority>0.8</priority>
        <changefreq>weekly</changefreq>
    </url>
    <url>
        <loc>{{ absolute_url(path('biossearch')) }}</loc>
        <lastmod>{{mod_date}}</lastmod>
        <priority>0.8</priority>
        <changefreq>weekly</changefreq>
    </url>
    <url>
        <loc>{{ absolute_url(path('bios_list')) }}</loc>
        <lastmod>{{mod_date}}</lastmod>
        <priority>0.8</priority>
        <changefreq>weekly</changefreq>
    </url>
    <url>
        <loc>{{ absolute_url(path('expansionchipsearch')) }}</loc>
        <lastmod>{{mod_date}}</lastmod>
        <priority>0.8</priority>
        <changefreq>weekly</changefreq>
    </url>
    <url>
        <loc>{{ absolute_url(path('chipsetsearch')) }}</loc>
        <lastmod>{{mod_date}}</lastmod>
        <priority>0.8</priority>
        <changefreq>weekly</changefreq>
    </url>
    <url>
        <loc>{{ absolute_url(path('cpusearch')) }}</loc>
        <lastmod>{{mod_date}}</lastmod>
        <priority>0.8</priority>
        <changefreq>weekly</changefreq>
    </url>
    <url>
        <loc>{{ absolute_url(path('hddsearch')) }}</loc>
        <lastmod>{{mod_date}}</lastmod>
        <priority>0.8</priority>
        <changefreq>weekly</changefreq>
    </url>
    <url>
        <loc>{{ absolute_url(path('cddsearch')) }}</loc>
        <lastmod>{{mod_date}}</lastmod>
        <priority>0.8</priority>
        <changefreq>weekly</changefreq>
    </url>
    <url>
        <loc>{{ absolute_url(path('fddsearch')) }}</loc>
        <lastmod>{{mod_date}}</lastmod>
        <priority>0.8</priority>
        <changefreq>weekly</changefreq>
    </url>
    <url>
        <loc>{{ absolute_url(path('driversearch')) }}</loc>
        <lastmod>{{mod_date}}</lastmod>
        <priority>0.8</priority>
        <changefreq>weekly</changefreq>
    </url>
    {% for subfile in sub_files %}
    <sitemap>
        <loc>{{ absolute_url(subfile) }}</loc>
        <lastmod>{{ mod_date }}</lastmod>
    </sitemap>
    {% endfor %}
</urlset>
