<?xml version="1.0" encoding="UTF-8"?>
<urlset
      xmlns="http://www.sitemaps.org/schemas/sitemap/0.9"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.sitemaps.org/schemas/sitemap/0.9
            http://www.sitemaps.org/schemas/sitemap/0.9/sitemap.xsd">
    {% for item in items %}
    <url>
        <loc>{{ absolute_url(path(route, { id: item["id"] })) }}</loc>
        <lastmod>{{ item["lastEdited"]|date("Y-m-d") }}</lastmod>
        <priority>0.8</priority>
        <changefreq>weekly</changefreq>
    </url>
    {% endfor %}
</urlset>
