{% extends 'base.html.twig' %}
{% block title %}Login{% endblock %}
{% block opengraph %}
<style>
a.login-image img{filter: invert(49%) sepia(98%) saturate(1883%) hue-rotate(202deg) brightness(108%) contrast(101%);}
a.login-image img:hover{filter: invert(49%) sepia(98%) saturate(1883%) hue-rotate(202deg) brightness(158%) contrast(101%);}
a.login-link:hover{color:#7ce5ff;}
</style>
{% endblock %}
{% block body %}
	<div style="padding-top:50px;font-size: 13pt;">You're about to access the administration pages. If you don't know what this is about, you're in the wrong place.
		<br>Click&nbsp;<a class="login-link" href="{{ path('app_homepage') }}">this link</a>&nbsp;to return to the main page.
	</div>
	<div style="display:flex;flex-direction:row;flex-wrap:wrap;align-items:center;justify-content:center;margin-top:50px;">
		<img src="{{ absolute_url(asset('build/icons/keys.svg')) }}" alt="" width="128">
		{% if app.user %}You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>{% else %}
		<form method="post">
			<fieldset id="login-fieldset">
			<div class="title">Please, log in</div>
			<div class="search-form-entry">
				<label class="search-form-label">
					<span>Username</span>
				</label>
				<div class="search-form-widget">
					<div><input type="text" value="{{ last_username }}" name="username" id="inputUsername"></div>
				</div>
			</div>
			<div class="search-form-entry">
				<label class="search-form-label">
					<span>Password</span>
				</label>
				<div class="search-form-widget">
					<div>
						<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
						<input type="password" name="password" id="inputPassword">
					</div>
				</div>
			</div>
			<div class="search-form-entry">
				<label class="search-form-label">
					<span>Remember me</span>&nbsp;<input type="checkbox" name="_remember_me">
				</label>
				{# <div class="search-form-widget">
					<div><input type="checkbox" name="_remember_me"></div>
				</div> #}
			</div>

			<div class="toolbar toolbar-main">
				<button type="submit">
					{# <img src="{{ absolute_url(asset('build/icons/search.svg')) }}" alt="search" width="24" height="24"> #}
					<span>Login</span>
				</button>
			</div>
		</form>
		{% endif %}
		
	</div>
	{% if error %}<span>{{ error.messageKey|trans(error.messageData, 'security') }}<span>{% endif %}
{% endblock %}
