
{% if route is defined and route == true %}{% set typeid = 'route-results' %}{% else %}{% set typeid = domTarget %}{% endif %}
<div id="{{ typeid }}">
{% if cpus is defined and cpus is not empty %}
	<div class="results{% if not show_images %} lst{% endif %}">
		{{ knp_pagination_render(cpus, 'macros/pagination_async.html.twig') }}
		{% if show_images %}
			<div class="perks">
				<div id="index-datetime" class="perks-list">
				{% for cpu in cpus %}
					<div class="perk">
						<a href="{{ path("processor_show", {id: cpu.getId()}) }}">
							<div class="perk-image">
							{% if cpu.getImages() is not empty %}
									{% for image in cpu.getImages()|sort((a, b) => a.getFileName() <=> b.getFileName())|slice(0, 1) %}
									<img src="{% if vich_uploader_asset(image, 'imageFile') | ext != "svg" %}
									{{ vich_uploader_asset(image, 'imageFile') | imagine_filter('show_thumb') }}{% else %}
									{{ vich_uploader_asset(image, 'imageFile')}}{% endif %}" alt="" loading="lazy" width="250" height="200" title="{% if image.description %}{{ image.description }}{% endif %}">
									{% endfor %}
							{% else %}
								<img src="{{ absolute_url(asset('build/images/missing/cpu-missing.jpg')) }}" loading="lazy" width="250" height="200" title="no images available :(">
							{% endif %}
							</div>
							<div class="perk-name">{{ cpu.getNameWithManufacturer() }}</div>
							<div class="perk-alias">
								{% if cpu.getChipAliases() is not empty %}<span class="results-alias">
									<small>Alias: {% for alias in cpu.getChipAliases() %}{{ alias.getFullAliasName() }}{% if not loop.last %}, {% endif %}{% endfor %}</small>
								</span>{% endif %}
							</div>
						</a>
					</div>
				{% endfor %}
				</div>
			</div>
		{% else %}
			<div id="cpu-results-table" class="plain-list w300p table">
				{% include 'macros/widget.html.twig' with {'type':'cpu-results', 'entity': cpus} %}
			</div>
		{% endif %}
		{{ knp_pagination_render(cpus, 'macros/pagination_async.html.twig') }}
	</div>
{% else %}
	No results
{% endif %}
{% if params is defined %}
<div id="search-params-id" style="display:none;">{{params}}</div>
{% endif %}
</div>

