{% extends '@EasyAdmin/page/content.html.twig' %}
{% block page_title %}Creditor images: {{name}}{% endblock %}
{% block page_content %}
<div class="show-nav-ea" id="sh-nav">
    <input type="radio" name="tabs" id="tab-nav-1" checked>
    <label for="tab-nav-1"><img src="{{ absolute_url(asset('build/icons/board.svg')) }}" alt="" width="24" height="24">Boards</label>
    <input type="radio" name="tabs" id="tab-nav-2">
    <label for="tab-nav-2"><img src="{{ absolute_url(asset('build/icons/chip.svg')) }}" alt="" width="24" height="24">Chips</label>
    <input type="radio" name="tabs" id="tab-nav-3">
    <label for="tab-nav-3"><img src="{{ absolute_url(asset('build/icons/hdd.svg')) }}" alt="" width="24" height="24">Storage devices</label>
</div>
<div class="show-general" id="sh-general">
{% if motherboards is defined and motherboards is not empty %}
	<div class="results">
		{{ knp_pagination_render(motherboards, 'macros/pagination.html.twig') }}
		<div class="perks">
			<div id="index-datetime" class="perks-list">
			{% for motherboard in motherboards %}
				<div class="perk">
					<div class="perk-image">
					{% if motherboard.getImages() is not empty %}
						{% set imgtype_count = 0 %}
						{% for image in motherboard.getImages()|filter(a => a.motherboardImageType.id in [1, 2])|sort((a, b) => a.getFileName() <=> b.getFileName())|sort((a, b) => b.motherboardImageType <=> a.motherboardImageType)|slice(0, 1) %}
							<a href="{{ vich_uploader_asset(image, 'imageFile')}}" class="glightbox"><img src="{% if vich_uploader_asset(image, 'imageFile') | ext != "svg" %}
								{{ vich_uploader_asset(image, 'imageFile') | imagine_filter('show_thumb') }}{% else %}
								{{ vich_uploader_asset(image, 'imageFile')}}{% endif %}" alt="" loading="lazy" width="250" height="200" title="Click to preview image"></a>
							{% set imgtype_count = imgtype_count + 1 %}
						{% endfor %}
						{% if imgtype_count == 0 %}
							<img src="{{ absolute_url(asset('build/images/missing/board-missing.jpg')) }}" loading="lazy" width="250" height="200" title="no images available :(">
						{% endif %}
					{% else %}
						<img src="{{ absolute_url(asset('build/images/missing/board-missing.jpg')) }}" loading="lazy" width="250" height="200" title="no images available :(">
					{% endif %}</div>
					<a href="{{ path("motherboard_show", {id:motherboard.getId()}) }}" title="Click to visit page">
						<div class="perk-name">{{ motherboard.getManufacturerName() }}&nbsp;{{ motherboard.name }}</div>
						<div class="perk-alias">
						{% if motherboard.getMotherboardAliases() is not empty %}{% for alias in motherboard.getMotherboardAliases() %}
							<span class="results-alias">
								<small>{% if alias.getManufacturer() is not null %}{{ alias.getManufacturer().getName() }}{% else %}Unknown{% endif %}&nbsp;{{ alias.name }}{% if not loop.last %} |{% endif %}</small>
							</span>
						{% endfor %}{% endif %}</div>
					</a>
				</div>
			{% endfor %}
			</div>
		</div>
		{{ knp_pagination_render(motherboards, 'macros/pagination.html.twig') }}
	</div>
{% else %}
	No motherboards
{% endif %}
</div>
<div class="show-expchips" id="sh-expchips">
Expansion chips:
{% if chips is defined and chips is not empty %}
	<div class="results">
		{{ knp_pagination_render(chips, 'macros/pagination.html.twig') }}
		<div class="perks">
			<div id="index-datetime" class="perks-list">
			{% for chip in chips %}
				<div class="perk">
					<div class="perk-image">
					{% if chip.getImages() is not empty %}
						{% set imgtype_count = 0 %}
						{% for image in chip.getImages()|sort((a, b) => a.getFileName() <=> b.getFileName())|slice(0, 1) %}
							<a href="{{ vich_uploader_asset(image, 'imageFile')}}" class="glightbox"><img src="
								{{ vich_uploader_asset(image, 'imageFile') | imagine_filter('show_thumb') }}" alt="" loading="lazy" width="250" height="200" title="Click to preview image"></a>
							{% set imgtype_count = imgtype_count + 1 %}
						{% endfor %}
						{% if imgtype_count == 0 %}
							<img src="{{ absolute_url(asset('build/images/missing/chip-missing.jpg')) }}" loading="lazy" width="250" height="200" title="no images available :(">
						{% endif %}
					{% else %}
						<img src="{{ absolute_url(asset('build/images/missing/chip-missing.jpg')) }}" loading="lazy" width="250" height="200" title="no images available :(">
					{% endif %}</div>
					<a href="{{ path("expansion_chip_show", {id:chip.getId()}) }}" title="Click to visit page">
						<div class="perk-name">{{ chip.getNameWithManufacturer() }}</div>
					</a>
				</div>
			{% endfor %}
			</div>
		</div>
		{{ knp_pagination_render(chips, 'macros/pagination.html.twig') }}
	</div>
{% else %}none{% endif %}
<hr>
CPUs:
{% if cpus is defined and cpus is not empty %}
	<div class="results">
		{{ knp_pagination_render(cpus, 'macros/pagination.html.twig') }}
		<div class="perks">
			<div id="index-datetime" class="perks-list">
			{% for cpu in cpus %}
				<div class="perk">
					<div class="perk-image">
					{% if cpu.getImages() is not empty %}
						{% set imgtype_count = 0 %}
						{% for image in cpu.getImages()|sort((a, b) => a.getFileName() <=> b.getFileName())|slice(0, 1) %}
							<a href="{{ vich_uploader_asset(image, 'imageFile')}}" class="glightbox"><img src="
								{{ vich_uploader_asset(image, 'imageFile') | imagine_filter('show_thumb') }}" alt="" loading="lazy" width="250" height="200" title="Click to preview image"></a>
							{% set imgtype_count = imgtype_count + 1 %}
						{% endfor %}
						{% if imgtype_count == 0 %}
							<img src="{{ absolute_url(asset('build/images/missing/chip-missing.jpg')) }}" loading="lazy" width="250" height="200" title="no images available :(">
						{% endif %}
					{% else %}
						<img src="{{ absolute_url(asset('build/images/missing/chip-missing.jpg')) }}" loading="lazy" width="250" height="200" title="no images available :(">
					{% endif %}</div>
					<a href="{{ path("processor_show", {id:cpu.getId()}) }}" title="Click to visit page">
						<div class="perk-name">{{ cpu.getNameWithManufacturer() }}</div>
					</a>
				</div>
			{% endfor %}
			</div>
		</div>
		{{ knp_pagination_render(cpus, 'macros/pagination.html.twig') }}
	</div>
{% else %}none{% endif %}
</div>
<div class="show-downloads" id="sh-downloads">
HDDs:
{% if hdds is defined and hdds is not empty %}
	<div class="results">
		{{ knp_pagination_render(hdds, 'macros/pagination.html.twig') }}
			<div class="perks">
				<div id="index-datetime" class="perks-list">
				{% for hdd in hdds %}
					<div class="perk">
						<div class="perk-image">
						{% if hdd.getStorageDeviceImages() is not empty %}
							{% set imgtype_count = 0 %}
							{% for image in hdd.getStorageDeviceImages()|sort((a, b) => a.getFileName() <=> b.getFileName())|slice(0, 1) %}
								<a href="{{ vich_uploader_asset(image, 'imageFile')}}" class="glightbox"><img src="{% if vich_uploader_asset(image, 'imageFile') | ext != "svg" %}
									{{ vich_uploader_asset(image, 'imageFile') | imagine_filter('show_thumb') }}{% else %}
									{{ vich_uploader_asset(image, 'imageFile')}}{% endif %}" alt="" loading="lazy" width="250" height="200" title="Click to preview image"></a>
								{% set imgtype_count = imgtype_count + 1 %}
							{% endfor %}
							{% if imgtype_count == 0 %}
								<img src="{{ absolute_url(asset('build/images/missing/hdd-missing.jpg')) }}" loading="lazy" width="250" height="200" title="no images available :(">
							{% endif %}
						{% else %}
							<img src="{{ absolute_url(asset('build/images/missing/hdd-missing.jpg')) }}" loading="lazy" width="250" height="200" title="no images available :(">
						{% endif %}</div>
						<a href="{{ path("hard_drive_show", {id: hdd.getId()}) }}" title="Click to visit page">
							<div class="perk-name">{{ hdd.getNameWithManufacturer() }}</div>
						</a>
					</div>
				{% endfor %}
				</div>
			</div>
		{{ knp_pagination_render(hdds, 'macros/pagination.html.twig') }}
	</div>
{% else %}none{% endif %}
<hr>
Optical drives:
{% if cdds is defined and cdds is not empty %}
	<div class="results">
		{{ knp_pagination_render(cdds, 'macros/pagination.html.twig') }}
			<div class="perks">
				<div id="index-datetime" class="perks-list">
				{% for cdd in cdds %}
					<div class="perk">
						<div class="perk-image">
						{% if cdd.getStorageDeviceImages() is not empty %}
							{% set imgtype_count = 0 %}
							{% for image in cdd.getStorageDeviceImages()|sort((a, b) => a.getFileName() <=> b.getFileName())|slice(0, 1) %}
								<a href="{{ vich_uploader_asset(image, 'imageFile')}}" class="glightbox"><img src="{% if vich_uploader_asset(image, 'imageFile') | ext != "svg" %}
									{{ vich_uploader_asset(image, 'imageFile') | imagine_filter('show_thumb') }}{% else %}
									{{ vich_uploader_asset(image, 'imageFile')}}{% endif %}" alt="" loading="lazy" width="250" height="200" title="Click to preview image"></a>
								{% set imgtype_count = imgtype_count + 1 %}
							{% endfor %}
							{% if imgtype_count == 0 %}
								<img src="{{ absolute_url(asset('build/images/missing/cdd-missing.jpg')) }}" loading="lazy" width="250" height="200" title="no images available :(">
							{% endif %}
						{% else %}
							<img src="{{ absolute_url(asset('build/images/missing/cdd-missing.jpg')) }}" loading="lazy" width="250" height="200" title="no images available :(">
						{% endif %}</div>
						<a href="{{ path("cd_drive_show", {id: cdd.getId()}) }}" title="Click to visit page">
							<div class="perk-name">{{ cdd.getNameWithManufacturer() }}</div>
						</a>
					</div>
				{% endfor %}
				</div>
			</div>
		{{ knp_pagination_render(hdds, 'macros/pagination.html.twig') }}
	</div>
{% else %}none{% endif %}
<hr>
Floppy drives:
{% if fdds is defined and fdds is not empty %}
	<div class="results">
		{{ knp_pagination_render(fdds, 'macros/pagination.html.twig') }}
			<div class="perks">
				<div id="index-datetime" class="perks-list">
				{% for fdd in fdds %}
					<div class="perk">
						<div class="perk-image">
						{% if fdd.getStorageDeviceImages() is not empty %}
							{% set imgtype_count = 0 %}
							{% for image in fdd.getStorageDeviceImages()|sort((a, b) => a.getFileName() <=> b.getFileName())|slice(0, 1) %}
								<a href="{{ vich_uploader_asset(image, 'imageFile')}}" class="glightbox"><img src="{% if vich_uploader_asset(image, 'imageFile') | ext != "svg" %}
									{{ vich_uploader_asset(image, 'imageFile') | imagine_filter('show_thumb') }}{% else %}
									{{ vich_uploader_asset(image, 'imageFile')}}{% endif %}" alt="" loading="lazy" width="250" height="200" title="Click to preview image"></a>
								{% set imgtype_count = imgtype_count + 1 %}
							{% endfor %}
							{% if imgtype_count == 0 %}
								<img src="{{ absolute_url(asset('build/images/missing/fdd-missing.jpg')) }}" loading="lazy" width="250" height="200" title="no images available :(">
							{% endif %}
						{% else %}
							<img src="{{ absolute_url(asset('build/images/missing/fdd-missing.jpg')) }}" loading="lazy" width="250" height="200" title="no images available :(">
						{% endif %}</div>
						<a href="{{ path("floppy_drive_show", {id: fdd.getId()}) }}" title="Click to visit page">
							<div class="perk-name">{{ fdd.getNameWithManufacturer() }}</div>
						</a>
					</div>
				{% endfor %}
				</div>
			</div>
		{{ knp_pagination_render(hdds, 'macros/pagination.html.twig') }}
	</div>
{% else %}none{% endif %}
</div>

{% endblock %}
