{% macro header() %}
	<div><b>Language</b></div>
	<div><b>Media type</b></div>
	<div><b>OS Compatibility</b></div>
	<div><b>Name</b></div>
	<div><b>Version</b></div>
{% endmacro %}

{% macro link(file) %}
	<div>{% for lang in file.getLanguages() %}
		<img src="{{ asset('build/icons/language/' ~ lang.getIsoCode ~ '.svg') }}" alt="{{lang.getOriginalName()}}" title="{{lang.getOriginalName()}}" class="lang-flag{% if loop.length > 4 %}-lrg{% endif %}">
	{% endfor %}</div>
	<div>{% for relation in file.getMediaTypeFlags() %}
		<b style="vertical-align:super;">{{relation.getCount()}}x</b>
		<img src="{{ vich_uploader_asset(relation.getMediaTypeFlag(), 'icon')}}" alt="{{relation.getMediaTypeFlag().getName()}}" title="{{relation.getMediaTypeFlag().getName()}}" width="32">
	{% endfor %}</div>
	<div>{% for os in file.getOsFlags()|sort((a, b) => a.getName <=> b.getName)|sort((a, b) => a.getVersion <=> b.getVersion) %}
		<span style="display:inline-block;"><img src="{{ asset('build/icons/os/' ~ os.getVersion ~ '.svg') }}" alt="{{os.getVersion}}"  width="16">{{os.getName()}}</span>
	{% endfor %}</div>
	<div><a href="{{ path("driver_show", {id: file.getId()}) }}">{{file.getName()}}</a>
	</div>
	<div><a href="{{ vich_uploader_asset(file, 'file')}}">
			<img src="{{ absolute_url(asset('build/icons/dw.svg')) }}" alt="" width="16" style="vertical-align: middle;">
			{{ file.getFileVersion() ? file.getFileVersion() : 'Unknown' }}
		</a>
	</div>
{% endmacro %}
