/* Main navbar */
header {
	font-family: $header-font;
}

header.trw-header {
	background-color: $head-bkg-light;
	color: $head-frg-light;
	font-size: 14pt;
	width: 100%;
	font-family: $header-font;
	z-index: 1;
	box-shadow: 0px 3px 3px $shadow-light;
	margin-bottom: 3px;

	@media (prefers-color-scheme: dark) {
		background-color: $head-bkg-dark;
		color: $head-frg-dark;
		box-shadow: 0px 3px 3px $shadow-dark;
	}

	@media (max-width: 500px) {
		font-size: 12pt;
		padding: 5px 0;
	}
}

div.page-header {
	width: 100%;
	margin: auto;
	max-width: $wide-max-width;
	display: flex;
	flex-wrap: wrap;

	@media (max-width: 500px) {
		justify-content: center;
	}
}

nav {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	padding: 7px;

	border-bottom: 1px solid $head-bkg-light;

	@media (prefers-color-scheme: dark) {
		border-bottom-color: $head-bkg-dark;
	}

	&:empty {
		display: none;
	}

	&.navbar {
		padding: 0 !important;
	}

	.nav-link.active {
		color: $active-link-light;

		@media (prefers-color-scheme: dark) {
			color: $active-link-dark;
		}
	}

	a {
		display: flex;
		align-items: center;
		text-decoration: none;
		color: $head-frg-light;
		transition: ease-in-out $anim-duration color;
		padding: 5px 2px;

		@media (prefers-color-scheme: dark) {
			color: $head-frg-dark;
		}

		&:hover {
			color: $active-link-light;
			transition: ease-in-out $anim-duration color;

			@media (prefers-color-scheme: dark) {
				color: $active-link-dark;
			}
		}

		span {
			padding: 0px 8px;
		}

		img {
			padding: 0px 4px;
			box-sizing: initial !important;
		}
	}

	&.navbar-primary {
		justify-content: center;
		font-size: 15pt;

		&.navbar-logo {
			font-weight: bold;
			font-size: 18pt;
			padding: 0px 15px;
			flex-grow: 1;
			justify-content: start !important;

			@media (max-width: 500px) {
				justify-content: center !important;
			}
		}
	}

	&.navbar-secondary {
		font-size: 11pt;
		padding: 5px;
		justify-content: start;
		width: 100%;

		.nav-link.active {
			color: $active-link-light;

			@media (prefers-color-scheme: dark) {
				color: $active-link-dark;
			}
		}

		a {
			color: $body-frg-light;

			@media (prefers-color-scheme: dark) {
				color: $body-frg-dark;
			}

			&:hover {
				color: $active-link-light;

				@media (prefers-color-scheme: dark) {
					color: $active-link-dark;
				}
			}
		}
	}
}

span.navbar-icon-trw-ea.trw-admin {
	font-family: $header-font;

	&:hover {
		color: $active-link-light;
		transition: ease-in-out $anim-duration color;

		@media (prefers-color-scheme: dark) {
			color: $active-link-dark;
		}
	}
}

/* Maintenance banner */
div.maintenance-notification-bar {
	width: 100%;
	padding: 10px 5%;
	color: #31708f;
	background: #f7f5d9;
	box-sizing: border-box;
	font-size: 14px;
}

/* Footer */
footer {
	background-color: $head-bkg-light;
	color: $head-frg-light;
	font-size: 11pt;
	width: 100%;
	//padding: 8px 0;
	z-index: 1;
	box-shadow: 0px -3px 3px $shadow-light;

	@media (prefers-color-scheme: dark) {
		background-color: $head-bkg-dark;
		color: $head-frg-dark;
		box-shadow: 0px -3px 3px $shadow-dark;
	}

	div {
		width: 85%;
		margin: auto;
		max-width: $thin-max-width;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-content: center;

		div.footer-info {
			padding-bottom: 10px;
		}

		a {
			display: flex;
			align-items: center;
			text-decoration: none;
			color: $head-frg-light;
			transition: ease-in-out $anim-duration color;
			padding: 0px 10px;
			height: 40px;

			@media (prefers-color-scheme: dark) {
				color: $head-frg-dark;
			}

			&:hover {
				color: $active-link-light;
				transition: ease-in-out $anim-duration color;

				@media (prefers-color-scheme: dark) {
					color: $active-link-dark;
				}
			}

			span {
				padding: 0px 8px;
			}

			img {
				padding: 0px 3px;
				box-sizing: initial !important;
			}
		}

		div {
			min-height: 30px;
		}
	}
}

/* page content */
p,
ul {
	margin-top: 14px;
	margin-bottom: 14px;
}

img {
	border: 0;
}

main {
	display: flex;
	flex-grow: 1;
	flex-direction: column;
	background-color: $body-bkg-light;
	color: $body-frg-light;
	font-size: 11pt;

	@media (prefers-color-scheme: dark) {
		background-color: $body-bkg-dark;
		color: $body-frg-dark;
	}

	div.page {
		text-align: left;
		margin: 0 auto;
		width: 96%;
		padding-bottom: 15px;
		padding-top: 10px;
		max-width: $max-width;
	}

	div.title {
		display: flex;
		justify-content: center;
		text-align: center;
		font-size: 24px;
		padding: 20px;
		font-family: $header-font;
		font-weight: bold;

		img:hover+div.errors-div {
			display: block;
		}
	}

	a {
		color: $normal-link-light;
		transition: ease-in-out $anim-duration color;
		text-decoration: none;

		@media (prefers-color-scheme: dark) {
			color: $normal-link-dark;
		}
	}

	//a:link,
	/*a:visited {
		color: $visited-link-light;
		transition: ease-in-out $anim-duration color;
		text-decoration: none;

		@media (prefers-color-scheme: dark) {
			color: $visited-link-dark;
		}
	}*/

	a:not(.button-widget):hover {
		color: $visited-link-dark;
		transition: ease-in-out $anim-duration color;
	}

	button,
	a.button,
	span.button {
		font-family: $standard-font;
		font-size: 11pt;
		transition: ease-in-out $anim-duration box-shadow, ease-in-out $anim-duration background-color;
		border: solid thin $border-light;
		border-radius: 5px;
		box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.3);
		background: $body-bkg-light;
		color: $accent-frg-light;
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 10px;
		padding: 5px 10px;

		@media (prefers-color-scheme: dark) {
			background: $accent-bkg-dark;
			color: $accent-frg-dark;
			border-color: $border-dark;
		}

		&:hover,
		&:active {
			transition: ease-in-out $anim-duration box-shadow, ease-in-out $anim-duration background-color;
			box-shadow: 0px 0px 2px $shadow-light;
			background-color: $button-hover-light;

			@media (prefers-color-scheme: dark) {
				background-color: $button-hover-dark;
			}
		}
	}

	input,
	select,
	text-area {
		font-family: inherit;
		font-size: inherit;
		line-height: 25px;
		min-height: 30px;
		transition: ease-in-out $anim-duration box-shadow;
		border: solid thin $border-light;
		border-radius: 5px;
		background: var(--form-control-bg);
		color: $accent-frg-light;
		box-sizing: border-box;

		&:hover,
		&:active {
			transition: ease-in-out $anim-duration box-shadow;
			box-shadow: 0px 0px 2px $shadow-light;
		}

		@media (prefers-color-scheme: dark) {
			color: $accent-frg-dark;
			border-color: $border-dark;
		}
	}

	text-area {
		font-family: $monospace-font;
	}
}

a.button-widget,
span.button-widget {
	font-family: $standard-font;
	font-size: 11pt;
	transition: ease-in-out $anim-duration box-shadow, ease-in-out $anim-duration background-color;
	padding: 3px 5px;
	border: solid thin $border-light;
	border-radius: 5px;
	box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.3);
	background: $body-bkg-light;
	color: $accent-frg-light;
	display: flex;
	height: 24px;
	display: flex;
	align-items: center;
	column-gap: 5px;

	&:visited {
		color: $accent-frg-light;

		@media (prefers-color-scheme: dark) {
			color: $accent-frg-dark;
		}
	}

	&:hover,
	&:active {
		transition: ease-in-out $anim-duration box-shadow, ease-in-out $anim-duration background-color;
		box-shadow: 0px 0px 2px $shadow-light;
		background-color: $button-hover-light;

		@media (prefers-color-scheme: dark) {
			background-color: $button-hover-dark;
		}
	}

	@media (prefers-color-scheme: dark) {
		background: $accent-bkg-dark;
		color: $accent-frg-dark;
		border-color: $border-dark;
	}

	@include noselect();

	img {
		max-height: 22px;
		padding-right: 3px;
	}
}

.monospace {
	font-family: $monospace-font;
}

/* webkit scrollbar */
::-webkit-scrollbar {
	width: 10px;
	height: 10px;
}

::-webkit-scrollbar-track {
	background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
	background-color: #888;
	border-radius: 5px;
	transition: ease-in-out $anim-duration background-color;
}

::-webkit-scrollbar-thumb:hover {
	background-color: #555;
	transition: ease-in-out $anim-duration background-color;
}

div.plain-list {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
	gap: 5px;

	&.w300p {
		grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
	}

	&.w400p {
		grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
	}

	div.list-entry {
		display: grid;
		grid-template-columns: [first] 25% [second] auto [end];
		flex-wrap: wrap;
		align-items: start;
		align-content: start;
		padding: 5px;
		gap: 5px;
		border-bottom: solid thin $border-light;

		@media (prefers-color-scheme: dark) {
			border-color: $border-dark;
		}

		>div {
			padding: 3px 0;
		}

		>div.header-label {
			font-weight: bold;
			width: 30%;
		}

		div.results-alias {
			flex-grow: 1;
			padding-left: 5px;
		}

		div.cpu-aliases-box {
			display: none;

			&.visible {
				display: grid;
				//grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
			}
		}

		&.entry-centered {
			align-items: center;
		}

		&.head {
			border-bottom: solid thin $border-light !important;

			@media (prefers-color-scheme: dark) {
				border-color: $border-dark;
			}

			div {
				font-weight: bold;
				padding: 6px 15px;
			}
		}
	}

	.toolbar-thin {
		width: auto;
	}
}

// table variant for admin manage lists, toggled via JS
@media screen and (min-width: $minw-table-breakpoint) {
	div.plain-list.table {
		display: table; //mimics the old <table> structure
		border-collapse: collapse;
		width: 100%;

		div.list-entry {
			border-bottom: none;
		}

		div.list-entry.centered {
			display: table-row;

			&:nth-child(1) {
				display: table-row !important;
			}

			//show the table style headers (normally hidden for grid view)

			>div {
				display: table-cell;
				width: auto; //width reset to default (set value in the grid view)
				padding: 5px 10px;
				vertical-align: top;
			}

			&.head {
				background: $accent-bkg-light;

				@media (prefers-color-scheme: dark) {
					background: $accent-bkg-dark;
				}

				>div {
					vertical-align: middle;
					padding-top: 10px;
					padding-bottom: 10px;
				}
			}

			&.alt {
				background: $accent-bkg-light;

				@media (prefers-color-scheme: dark) {
					background: $accent-bkg-dark;
				}
			}

			&.bios.nows {
				line-height: 30px
			}

			&.largefile div {
				padding: 0px 2px;
			}

			div.header-label {
				display: none;
			}

			// hide labels used in the grid view
			div.cpu-aliases-box {
				display: none;

				&.visible {
					display: grid;
					//grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
				}
			}
		}

	}
}

@media screen and (max-width: $maxw-table-breakpoint) {
	div.list-entry.centered.head {
		display: none;
	}
}

.combo {
	display: flex;
	align-items: center;
	gap: 5px;
}