div.index-buttons {
    text-align: center;
    font-family: $standard-font;

    a {
        background-color: $accent-bkg-light;
        color: $accent-frg-light;
        border: 1px solid $border-light;
        border-radius: 6px;
        box-shadow: 0 0 8px $shadow-light;

        @media (prefers-color-scheme: dark) {
            background-color: $accent-bkg-dark;
            color: $accent-frg-dark;
            border-color: $border-dark;
            box-shadow: 0 0 8px $shadow-dark;
        }

        padding: 10px 5px 10px;
        vertical-align: top;
        height: 220px;
        width: 240px;
        margin-bottom: 4px;
        display: inline-block;
        text-decoration: none;
        transition: ease-in-out .15s box-shadow,
        ease-in-out .15s border-color,
        ease-in-out .15s color,
        ease-in-out .15s background-color;

        img {
            width: auto;
            height: 85%;
        }

        div {
            background-color: $accent-bkg-light;
            color: $accent-frg-light;

            @media (prefers-color-scheme: dark) {
                background-color: $accent-bkg-dark;
                color: $accent-frg-dark;
            }

            transition: ease-in-out .15s box-shadow,
            ease-in-out .15s border-color,
            ease-in-out .15s color,
            ease-in-out .15s background-color;
        }

        span {
            _cursor: hand;
            cursor: pointer;
        }

        &:hover {
            box-shadow: 0 0 16px $shadow-light;
            transition: ease-in-out .15s box-shadow, ease-in-out .15s border-color, ease-in-out .15s color, ease-in-out .15s background-color;

            @media (prefers-color-scheme: dark) {
                box-shadow: 0 0 16px $shadow-dark;
            }

            div {
                color: $active-link-light;
                transition: ease-in-out .15s box-shadow, ease-in-out .15s border-color, ease-in-out .15s color, ease-in-out .15s background-color;

                @media (prefers-color-scheme: dark) {
                    color: $active-link-dark;
                }
            }
        }
    }
}

span.image-block {
    text-align: center;
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: bottom;

    span {
        display: table;
    }

    span span {
        display: block;
    }
}

div.side-by-side {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    grid-gap: 25px;
}

div.perks {
    p {
        padding-bottom: 5px;
        @include border($normal-link-light);

        @media (prefers-color-scheme: dark) {
            @include border($normal-link-dark);
        }
    }

    div.perks-list {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));

        div.perk {
            background-color: $body-bkg-light;
            border: 1px solid $normal-link-light;
            border-radius: 6px;
            display: inline-block;
            margin: 3px;
            transition: ease-in-out .15s box-shadow, ease-in-out .15s border-color, ease-in-out .15s color, ease-in-out .15s background-color;

            @media (prefers-color-scheme: dark) {
                background-color: $body-bkg-dark;
                border: 1px solid $normal-link-dark;
            }

            &:hover {
                border: 1px solid $active-link-light;

                @media (prefers-color-scheme: dark) {
                    border: 1px solid $active-link-dark;
                }

                a div.perk-name {
                    color: $active-link-light;
                    transition: ease-in-out .15s box-shadow, ease-in-out .15s border-color, ease-in-out .15s color, ease-in-out .15s background-color;

                    @media (prefers-color-scheme: dark) {
                        color: $active-link-dark;
                    }
                }
            }

            a div.perk-image,
            div.perk-image {
                border-radius: 6px;
                display: flex;
                height: 285px;
                width: 100%;
                background-color: $accent-bkg-light;

                @media (prefers-color-scheme: dark) {
                    background-color: $accent-bkg-dark;
                }

                img,
                a.glightbox img {
                    margin: auto;
                    width: auto;
                    height: auto;
                    max-width: 270px;
                    max-height: 270px;
                }

                a.glightbox {
                    margin: auto;
                }
            }

            a div.perk-name {
                padding: 10px;
                color: $normal-link-light;

                @media (prefers-color-scheme: dark) {
                    color: $normal-link-dark;
                }
            }

            div.perk-name {
                padding: 10px;
                transition: ease-in-out .15s box-shadow, ease-in-out .15s border-color, ease-in-out .15s color, ease-in-out .15s background-color;
            }

            a div.perk-date,
            a div.perk-alias,
            div.perk-date,
            div.perk-alias {
                color: $accent-frg-light;
                padding: 10px;

                @media (prefers-color-scheme: dark) {
                    color: $accent-frg-dark;
                }
            }
        }

        &.perks-tiny {
            grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));

            div.perk {

                a div.perk-image,
                div.perk-image {
                    height: 180px;

                    img,
                    a.glightbox img {
                        max-width: 120px;
                        max-height: 120px;
                    }
                }
            }
        }
    }
}

/* results */
div.results {
    &.lst {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    ul {
        margin: 0;
        padding-left: 40px;
    }

    ul li {
        line-height: 140%;
        font-size: 16px;
    }

    span.image-block {
        padding: 15px;
        width: auto;

        span img {
            vertical-align: bottom;
            width: 320px;
            margin-bottom: 5px;
        }

        span span {
            font-size: 16px;
            min-width: 320px;
            width: 20em;
        }

        span span.results-alias small {
            font-size: 0.8em;
        }
    }

    ul.results-alias {
        list-style-type: none;

        li {
            line-height: 120%;
        }

        li small {
            font-size: 0.8em;
        }
    }
}