.index-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding-bottom: 10px;
	width: 60%;
	margin: 0 auto;

	.index-letter {
		background: $accent-bkg-light;
		color: $accent-frg-light;
		border: solid thin $border-light;
		border-radius: 5px;
		padding: 8px;
		width: 20px;
		display: flex;
		justify-content: center;
		margin: 3px;
		transition: ease-in-out $anim-duration box-shadow, ease-in-out $anim-duration color;

		&:hover {
			color: $active-link-light;
			box-shadow: 0px 0px 2px $shadow-light;
			transition: ease-in-out $anim-duration box-shadow, ease-in-out $anim-duration color;

			@media (prefers-color-scheme: dark) {
				color: $active-link-dark;
			}
		}

		@media (prefers-color-scheme: dark) {
			background: $accent-bkg-dark;
			color: $accent-frg-dark;
			border-color: $border-dark;
		}
	}
}

div.pagination {
	@include noselect();
	padding-bottom: 10px;
	width: 100%;

	a,
	button,
	span {
		&.current {
			background-color: $active-link-light;
			color: $body-frg-light;

			@media (prefers-color-scheme: dark) {
				background-color: $active-link-dark;
			}
		}

		&.first,
		&.previous,
		&.next,
		&.last {
			width: 5.3rem;
		}
	}

	div.info {
		display: block;
		text-align: right;
		opacity: 0.75;
		font-size: 75%;
	}
}

div.toolbar {
	padding-bottom: 10px;
	padding-top: 10px;
	display: flex;
	flex-wrap: wrap;
	gap: 10px;

	input {
		display: none;
	}

	&.toolbar-thin {
		padding-bottom: 5px;
		padding-top: 5px;

		button,
		a.button {
			padding: 3px;
			margin: 3px;
			width: auto;
		}
	}

	&.toolbar-main {
		justify-content: center;
	}
}

// Motherboard index
div.index-title {
	text-align: center;
	padding-top: 20px;
}

// Motherboard search form
fieldset {
	border: none;

	&.search-bar {
		display: flex;
		gap: 15px;
		max-width: 900px;
		margin: 0 auto;
		padding: 30px 15px;

		a {
			align-self: center;
		}

		input {
			flex-grow: 1;
			padding-left: 10px;
		}
	}

	input.num {
		max-width: 45px;
		padding-left: 5px;
	}
}

section {
	border-top: solid thin $border-dark;
	padding: 5px;

	@media (prefers-color-scheme: dark) {
		border-color: $shadow-light;
	}

	&.search-form-grid {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax($form-breakpoint - 45px, 1fr));
		column-gap: 20px;
		row-gap: 10px;

		@media (max-width: $form-breakpoint) {
			display: block;
		}

		&.search-form-grid-tight {
			grid-template-columns: repeat(auto-fill, minmax($form-breakpoint-tight - 45px, 1fr));
		}
	}
}

.search-form-header {
	grid-column: 1/8;
	font-size: larger;
	font-weight: bold;
	padding: 8px;
	display: flex;
	align-items: center;
}

label.search-form-label {
	grid-row-start: 1;
	width: 100%;
	display: flex;
	align-items: center;
	padding: 5px;
	flex-grow: 0;
	align-self: start;

	&.file {
		padding-bottom: 2px;
	}

	>span {
		font-style: italic;
		flex-grow: 1;
	}
}

.search-form-entry {
	display: flex;
	flex-wrap: wrap;

	div.search-form-widget {
		flex-grow: 1;
		align-items: center;

		div {
			display: flex;
			flex-wrap: wrap;
			width: 100%;
			padding-bottom: 5px;

			input {
				width: 100%;
				flex-grow: 1;
			}

			&.dropdown-input-wrap,
			&.ts-dropdown-content {
				width: auto;
			}
		}

		input,
		select {
			padding-left: 8px;
		}
	}

	label.search-form-widget {
		/* toggle switch */
		position: relative;
		display: inline-block;
		width: 60px;
		height: 30px;

		input {
			opacity: 0;
			width: 0;
			height: 0;
		}

		span.slider {
			position: absolute;
			cursor: pointer;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			background-color: $accent-bkg-light;

			@media (prefers-color-scheme: dark) {
				background-color: $accent-bkg-dark;
				border-color: $border-dark;
			}

			-webkit-transition: .4s;
			transition: .4s;
			border: solid thin $border-light;
			border-radius: 5px;

			&:before {
				position: absolute;
				content: "";
				height: 24px;
				width: 24px;
				left: 3px;
				bottom: 2px;
				background-color: white;

				@media (prefers-color-scheme: dark) {
					background-color: white;
				}

				-webkit-transition: .4s;
				transition: .4s;
				border-radius: 15%;
			}
		}

		input:checked+.slider {
			background-color: $active-link-light;
		}

		input:focus+.slider {
			box-shadow: 0 0 1px $active-link-light;
		}

		input:checked+.slider:before {
			-webkit-transform: translateX(28px);
			-ms-transform: translateX(28px);
			transform: translateX(28px);
		}
	}
}

#search-fieldset>div.search-form-entry {
	padding-top: 15px;
}

div.search-form-widget select.tomselected {
	flex-grow: 0;
	width: 0 !important;
}

div.editor-row {
	display: flex;
	flex-wrap: wrap;
	gap: 5px;
	padding: 5px;
	border-bottom: solid thin $border-dark;
	align-items: center;

	@media (prefers-color-scheme: dark) {
		border-color: $shadow-light;
	}

	&.bios-image-head {
		padding: 5px 0px !important;
	}

	&.addform {
		padding: 10px !important;
	}

	@media (max-width: 500px) {
		select {
			width: 100%;
		}
	}

	&.drv {
		display: grid;
		grid-template-columns: [first] 60% [second] 15% [third] 7% [end];
	}

	&.bios-main {
		display: grid;
		grid-template-columns: [first] 14% [second] 33% [third] 33% [fourth] 10% [fifth] 7% [end];

		>div:nth-child(n+2) {
			padding-right: 8px;
		}
	}

	&.bios-file {
		display: grid;
		grid-template-columns: [first] 14% [second] 33% [third] 33% [fourth] 10% [fifth] 7% [end];

		>div {
			padding-right: 8px;
		}
	}

	&.bios>div:nth-child(n+3),
	&.bios>a {
		margin-left: 10px;
	}

	&.manual {
		display: grid;
		grid-template-columns: [first] 25% [second] 15% [third] 21% [fourth] 25% [fifth] 7% [end];

		div:nth-child(2),
		div:nth-child(n+4),
		a {
			margin-left: 10px;
		}
	}

	&.miscfile {
		display: grid;
		grid-template-columns: [first] 25% [second] 30% [third] 25% [fourth] 7% [end];

		div:nth-child(2),
		div:nth-child(n+3),
		a {
			margin-left: 10px;
		}
	}

	div.editor-form-widget {
		padding: 0 !important;

		div {
			display: flex;
			flex-wrap: wrap;
			width: 100%;

			div.ts-wrapper {
				width: max(200px, 25vw);

				div.ts-control {
					width: 100%;
				}
			}

			* {
				width: 100%;
			}
		}

		&.chip div div.ts-wrapper {
			width: max(200px, 40vw);

			@media screen and (min-width: 2500px) {
				max-width: 700px;
			}

			div.ts-control {
				width: 100%;
			}
		}
	}

	.ts-wrapper {
		flex-grow: 1;
	}
}

div.bios-image-container {
	margin-bottom: 15px;
}

div.search-form-many {
	width: 100%;
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
	gap: 5px;

	div.search-many-item {
		display: flex;
		align-items: center;

		input {
			width: 20px;
			padding: 3px;
		}

		label {
			padding-left: 5px;
		}
	}

}

div.toolbar-title {
	height: 2em;
	text-align: center;
}

button.alias-collapsible {
	background-color: $btn-darkbg-color-hover;
	color: white;
	cursor: pointer;
	line-height: 4px;
	padding: 18px;
	border: none;
	text-align: left;
	font-size: 15px;
}

button.alias-collapsible:hover {
	background-color: $link-hover-color;
	color: black;
}

button.alias-collapsible:after {
	content: '\002B';
	color: white;
	font-weight: bold;
	float: right;
	margin-left: 5px;
}

button.alias-collapsible.active::after {
	content: " −";
}

@media (hover: none) {
	span.help-t {
		img {
			display: none;
		}

		span.img {
			display: inline-block;
			width: 16px;
			height: 16px;
		}

		span.text {
			background: $body-bkg-light;
			border: 1px solid $border-light;
			color: $body-frg-light;
			display: inline;
			font-size: 12px;
			margin: -5px 0 0 15px;
			padding: 3px;
			position: absolute;
			visibility: hidden;
			z-index: 1;

			@media (prefers-color-scheme: dark) {
				background: $body-bkg-dark;
				border: 1px solid $border-dark;
				color: $body-frg-dark;
			}
		}
	}

	span.help-t:hover span.text {
		visibility: visible;
	}
}

@media (pointer: coarse) {
	div.sform2 input[type=checkbox] {
		width: 20px;
		height: 20px;
	}
}