{% extends 'base.html.twig' %}

{% block title %}Search drivers - TRW{% endblock %}

{% block metatags %}
	<meta name="description" content="Search for a driver by name, manufacturer and part number.">
	<link rel="alternate" hreflang="x-default" href="{{ absolute_url(path('driversearch')) }}"/>
{% endblock %}
{% block extra_javascripts %}
	<script src="/build/js/tom-select.complete.min.js" defer></script>
	<script src="/build/js/search.js" defer></script>
{% endblock %}
{% block body %}
	{{ form_start(form, {'method': 'POST', 'name': 'search_driver', 'action':path("driversearch"), 'attr':{'onkeydown': 'return event.key != \'Enter\'', 'data-live-action': path('driverlivewrapper')}}) }}
	<fieldset id="search-fieldset">
		<div class="title">Search for drivers/software</div>
		{# <div class="index-title">
			List by first letter<br>
		</div>
		<div class="index-list">
			{% for letter in ['A','B','C','D','E','F','G','H','I','J','K','L','M','N','O','P','Q','R','S','T','U','V','W','X','Y','Z']%}
				<a class="index-letter" href="{{path("driverindex", {"letter":letter})}}">{{letter}}</a>
			{% endfor %}
		</div> #}
		<section class="search-form-grid" style="display:flex;justify-content:center;flex-wrap:wrap;">
			<div class="search-form-entry">
				<label class="search-form-label" for="search_name" title="This is where you enter the driver name, version or file name.">
					<span>Name</span>
					<img src="{{ absolute_url(asset('build/icons/help.svg')) }}" alt="" width="16" height="16">
				</label>
				<div class="search-form-widget" style="display: flex;flex-direction: row;">
					<div>{{ form_widget(form.name) }}</div>
				</div>
			</div>
		</section>
		{% include 'macros/searchitems.html.twig' with {'datatarget': 'drivers', 'dataresetids': ''} %}
	</fieldset>
	{{ form_end(form, {render_rest: false}) }}
	<!-- Search results -->
	<section id="search_liveResults">
	{% if drivers is defined %}
		{% include 'drivers/result.html.twig' with {'drivers': drivers, 'route': true} %}
	{% endif %}
	</section>
{% endblock %}
