/* ----------------------------------------------------------------------------
   This file defines the CSS variables used in the backend design.
   Most of the times, overriding some of these variables is all you need to
   customize the design of your backends. However, because of how Bootstrap 3
   works, some styles can't be customized with CSS variables and you'll need
   to also customize the Sass variables defined in bootstrap-variables.scss.
 --------------------------------------------------------------------------- */
@import "./color-palette.scss";

:root {
    --font-family-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-family-monospace: "JetBrains Mono", ui-monospace, "Roboto Mono", SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    --font-family-base: var(--font-family-sans-serif);

    --font-size-xs: 12px;
    --font-size-sm: 13px;
    --font-size-base: 14px;
    --font-size-lg: 16px;
    --font-size-xl: 18px;
    --font-size-xxl: 24px;
    --font-size-xxxl: 28px;

    --shadow-md: 0 4px 6px -1px rgb(15, 23, 43, 0.1), 0 2px 4px -2px rgb(15, 23, 42, 0.1);
    --shadow-lg: 0 10px 15px -3px rgb(15, 23, 43, 0.1), 0 4px 6px -4px rgb(15, 23, 42, 0.1);
    --shadow-xl: 0 20px 25px -5px rgba(15, 23, 42, 0.2), 0 8px 10px -6px rgba(15, 23, 42, 0.2);

    --width-sm: 576px;
    --width-md: 768px;
    --width-lg: 992px;
    --width-xl: 1200px;
    --width-xxl: 1400px;

    --form-tabs-gutter-x: 5px;

    --text-primary-color: var(--text-color);
    --text-secondary-color: var(--text-muted);
    --text-tertiary-color: var(--gray-400);
    --border-primary-color: var(--gray-500);
    --border-secondary-color: var(--gray-300);
    --border-tertiary-color: var(--gray-100);
    --primary-bg: var(--gray-300);
    --secondary-bg: var(--gray-100);
    --tertiary-bg: var(--gray-50);

    --body-max-width: 1440px;
    --body-bg: var(--white);
    --responsive-header-bg: var(--gray-50);
    --responsive-header-border-color: var(--gray-200);
    --responsive-header-logo-color: var(--gray-800);
    --responsive-table-label-color: var(--gray-500);
    --responsive-table-row-border-color: var(--gray-300);
    --sidebar-max-width: 230px;
    --sidebar-bg: var(--gray-50);
    --sidebar-border-color: var(--gray-200);
    --sidebar-logo-color: var(--gray-800);
    --sidebar-padding-left: 10px;
    --sidebar-padding-right: 10px;
    --sidebar-menu-items-padding-left: 6px;
    --sidebar-menu-items-padding-right: 10px;
    --sidebar-menu-color: var(--gray-700);
    --sidebar-menu-badge-bg: var(--indigo-100);
    --sidebar-menu-badge-color: var(--gray-500);
    --sidebar-menu-badge-active-bg: var(--color-primary);
    --sidebar-menu-badge-active-color: var(--indigo-50);
    --sidebar-menu-submenu-color: var(--gray-600);
    --sidebar-menu-header-color: var(--gray-400);
    --sidebar-menu-icon-color: var(--gray-500);
    --sidebar-menu-active-item-bg: var(--gray-200);
    --sidebar-menu-active-item-color: var(--color-primary);
    --sidebar-menu-compact-hover-box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -4px rgba(0, 0, 0, 0.1);
    --resize-handler-width: 10px;
    --content-section-border-color: var(--gray-200);
    --resize-handler-hover-bg: var(--indigo-600);
    --content-search-input-bg: var(--body-bg);
    --content-search-icon-color: var(--gray-500);
    --content-search-reset-button-bg: var(--gray-300);
    --content-search-reset-button-color: var(--gray-600);
    --content-search-reset-button-hover-bg: var(--gray-600);
    --content-search-reset-button-hover-color: var(--gray-200);
    --content-top-border-color: var(--gray-200);
    --content-bg: var(--white);
    --content-padding-left: 15px;
    --content-padding-right: 15px;
    --lg-content-padding-left: 35px;
    --lg-content-padding-right: 25px;
    --user-avatar-icon-bg: var(--gray-200);
    --user-avatar-icon-color: var(--gray-500);
    --user-name-color: var(--gray-500);
    --user-menu-impersonated-link-color: var(--color-primary);
    --popover-bg: var(--gray-100);
    --popover-border-color: var(--gray-300);
    --popover-color: var(--text-color);
    --popover-shadow: var(--shadow-xl);
    --popover-max-width: 480px;
    --dropdown-toggle-bg: var(--white);
    --dropdown-toggle-color: var(--gray-600);
    --dropdown-toggle-border-color: var(--gray-300);
    --dropdown-toggle-hover-border-color: var(--gray-400);
    --dropdown-bg: var(--white);
    --dropdown-color: var(--gray-600);
    --dropdown-border-color: var(--gray-200);
    --dropdown-link-color: var(--gray-700);
    --dropdown-link-hover-bg: var(--gray-100);
    --dropdown-icon-color: var(--gray-600);
    --dropdown-settings-icon-color: var(--gray-400);
    --dropdown-settings-active-item-bg: var(--gray-100);
    --dropdown-settings-active-item-color: var(--color-primary);
    --dropdown-settings-active-item-shadow: inset 0 0 0 1px #5368d580; // color is --color-primary with 50% alpha
    --datagrid-noresults-placeholder-bg: var(--gray-100);
    --datagrid-hidden-results-gradient-bg: var(--gray-50);
    --table-thead-color: var(--gray-800);
    --table-cell-color: var(--gray-600);
    --table-thead-marker-color: var(--gray-400);
    --table-cell-border-color: var(--gray-200);
    --table-hover-cell-bg: var(--gray-50);
    --table-selected-cell-bg: var(--indigo-50);
    --table-thead-sorted-color: var(--gray-900);
    --table-thead-sorted-marker-color: var(--color-primary);
    --datalist-border-color: var(--gray-200);
    --datalist-label-color: var(--gray-500);
    --datalist-value-color: var(--gray-600);
    --pagination-color: var(--gray-600);
    --pagination-hover-border-color: var(--gray-300);
    --pagination-disabled-color: var(--gray-400);
    --pagination-active-bg: var(--color-primary);
    --pagination-active-color: var(--white);
    --field-language-badge-border-color: var(--gray-300);
    --field-country-flag-border-color: var(--gray-200);
    --modal-bg: var(--white);
    --modal-border-color: var(--gray-200);
    --modal-header-bg: var(--gray-50);
    --modal-header-border-color: var(--gray-300);
    --modal-footer-bg: var(--gray-100);
    --modal-title-color: var(--gray-700);
    --form-label-color: var(--gray-800);
    --form-control-bg: var(--white);
    --form-control-disabled-bg: var(--gray-200);
    --form-control-disabled-color: var(--gray-600);
    --form-input-border-color: var(--gray-300);
    --form-input-error-border-color: var(--red-600);
    --form-input-hover-border-color: var(--gray-400);
    --form-input-shadow: 0 1px 2px 0 var(--gray-50);
    --form-input-hover-shadow: 0 0 0 4px var(--gray-100);
    --form-input-error-shadow: 0 0 0 3px var(--red-100);
    --form-input-text-color: var(--gray-700);
    --form-input-group-text-bg: var(--form-control-bg);
    --form-input-group-text-border-color: var(--form-input-border-color);
    --form-switch-bg: var(--body-bg);
    --form-switch-border-color: var(--gray-400);
    --form-switch-checked-bg: var(--indigo-500);
    --form-type-check-input-border-color: var(--gray-400);
    --form-type-check-input-box-shadow: 0 1px 2px 0 var(--gray-50);
    --form-type-check-input-checked-bg: var(--indigo-500);
    --form-type-text-editor-toolbar-bg: var(--white);
    --form-type-text-editor-toolbar-button-color: var(--gray-600);
    --form-type-text-editor-toolbar-button-hover-color: var(--gray-100);
    --form-type-text-editor-toolbar-button-active-bg: var(--gray-200);
    --form-type-text-editor-toolbar-button-active-color: var(--gray-700);
    --form-type-text-editor-dialog-bg: var(--white);
    --form-type-text-editor-dialog-box-shadow: 0 4px 12px var(--gray-300);
    --form-type-text-editor-content-pre-bg: var(--gray-200);
    --form-type-text-editor-content-pre-color: var(--text-color);
    --form-type-collection-item-collapsed-hover-bg: var(--gray-100);
    --form-type-autocomplete-dropdown-bg: var(--white);
    --form-type-autocomplete-dropdown-input-wrapper-bg: var(--gray-100);
    --form-type-autocomplete-dropdown-input-border-color: var(--form-input-border-color);
    --form-type-autocomplete-dropdown-active-item-bg: var(--gray-200);
    --form-type-autocomplete-close-button-bg: var(--gray-500);
    --form-type-autocomplete-close-button-hover-bg: var(--gray-700);
    --form-type-autocomplete-optgroup-bg: var(--body-bg);
    --form-type-autocomplete-optgroup-color: var(--gray-500);
    --form-type-autocomplete-multi-item-bg: var(--gray-100);
    --form-type-autocomplete-multi-item-border-color: var(--white);
    --form-type-autocomplete-multi-item-remove-button-hover-bg: var(--gray-200);
    --form-help-color: var(--gray-600);
    --form-help-error-color: var(--gray-800);
    --form-help-active-color: var(--gray-800);
    --form-tabs-border-color: var(--gray-200);
    --form-panel-header-color: var(--gray-800);
    --form-panel-help-color: var(--gray-600);
    --form-panel-header-border-color: var(--gray-400);
    --form-panel-icon-color: var(--gray-500);
    --form-panel-collapse-marker-color: var(--gray-400);
    --form-collection-item-collapse-marker-color: var(--gray-400);
    --badge-border: 0;
    --badge-boolean-false-bg: var(--gray-200);
    --badge-boolean-false-box-shadow: inset 0 0 0 1px var(--gray-300);
    --badge-boolean-false-color: var(--text-color);
    --badge-boolean-true-bg: var(--color-primary);
    --badge-boolean-true-box-shadow: none;
    --badge-boolean-true-color: var(--white);
    --badge-success-bg: var(--green-100);
    --badge-success-box-shadow: none;
    --badge-success-color: var(--text-green-600);
    --badge-warning-bg: var(--yellow-100);
    --badge-warning-box-shadow: none;
    --badge-warning-color: var(--text-yellow-600);
    --badge-danger-bg: var(--red-100);
    --badge-danger-box-shadow: none;
    --badge-danger-color: var(--text-red-600);
    --badge-info-bg: var(--blue-100);
    --badge-info-box-shadow: none;
    --badge-info-color: var(--text-blue-600);
    --badge-primary-bg: var(--indigo-100);
    --badge-primary-box-shadow: none;
    --badge-primary-color: var(--text-indigo-600);
    --badge-secondary-bg: var(--gray-200);
    --badge-secondary-box-shadow: none;
    --badge-secondary-color: var(--gray-600);
    --badge-light-bg: var(--gray-50);
    --badge-light-box-shadow: none;
    --badge-light-color: var(--text-color);
    --badge-dark-bg: var(--gray-900);
    --badge-light-box-shadow: none;
    --badge-dark-color: var(--gray-50);
    --alert-primary-bg: var(--indigo-100);
    --alert-primary-color: var(--indigo-800);
    --alert-primary-border-color: var(--indigo-200);
    --alert-secondary-bg: var(--gray-100);
    --alert-secondary-color: var(--gray-800);
    --alert-secondary-border-color: var(--gray-200);
    --alert-success-bg: var(--emerald-100);
    --alert-success-color: var(--emerald-900);
    --alert-success-border-color: var(--emerald-200);
    --alert-info-bg: var(--sky-100);
    --alert-info-color: var(--sky-800);
    --alert-info-border-color: var(--sky-200);
    --alert-warning-bg: var(--orange-100);
    --alert-warning-color: var(--orange-800);
    --alert-warning-border-color: var(--orange-200);
    --alert-danger-bg: var(--rose-100);
    --alert-danger-color: var(--rose-800);
    --alert-danger-border-color: var(--rose-200);
    --alert-light-bg: var(--white);
    --alert-light-color: var(--gray-800);
    --alert-light-border-color: var(--gray-200);
    --alert-dark-bg: var(--gray-800);
    --alert-dark-color: var(--gray-50);
    --alert-dark-border-color: var(--gray-500);
    --button-bg: var(--white);
    --button-color: var(--gray-700);
    --button-hover-color: var(--gray-800);
    --button-active-color: var(--gray-800);
    --button-border-color: var(--gray-300);
    --button-hover-border-color: var(--gray-300);
    --button-shadow:
        /* border */
        0 0 0 1px var(--gray-300),
        /* drop shadow md (--gray-900) */
        0 1px 1px 0 hsla(222, 47%, 11%, 0.1),
        /* drop shadow lg (--gray-700) */
        0 2px 5px 0 hsla(215, 25%, 27%, 0.1);
    --button-hover-shadow:
        /* border */
        0 0 0 1px var(--gray-300),
        /* drop shadow md (--gray-900) */
        0 1px 1px 0 hsla(222, 47%, 11%, 0.1),
        /* drop shadow lg (--gray-700) */
        0 2px 5px 0 hsla(215, 25%, 27%, 0.1),
        /* drop shadow xl (--gray-700) */
        0 3px 9px 0 hsla(215, 25%, 27%, 0.1);
    --button-active-shadow:
        /* border */
        0 0 0 1px var(--gray-300),
        /* ring */
        0 0 0 4px var(--gray-200),
        /* drop shadow md (--gray-900) */
        0 1px 1px 0 hsla(222, 47%, 11%, 0.1),
        /* drop shadow lg (--gray-700) */
        0 2px 5px 0 hsla(215, 25%, 27%, 0.1),
        /* drop shadow xl (--gray-700) */
        0 3px 9px 0 hsla(215, 25%, 27%, 0.1);
    --button-active-primary-shadow:
        /* border */
        0 0 0 1px var(--gray-300),
        /* ring */
        0 0 0 4px var(--indigo-200),
        /* drop shadow md (--gray-900) */
        0 1px 1px 0 hsla(222, 47%, 11%, 0.1),
        /* drop shadow lg (--gray-700) */
        0 2px 5px 0 hsla(215, 25%, 27%, 0.1),
        /* drop shadow xl (--gray-700) */
        0 3px 9px 0 hsla(215, 25%, 27%, 0.1);
    --button-primary-bg: var(--color-primary);
    --button-primary-color: var(--text-on-primary);
    --button-secondary-bg: var(--white);
    --button-secondary-color: var(--button-color);
    --button-info-bg: var(--color-info);
    --button-info-color: var(--white);
    --button-success-bg: var(--color-success);
    --button-success-color: var(--white);
    --button-danger-bg: var(--color-danger);
    --button-danger-color: var(--white);
    --button-warning-bg: var(--color-warning);
    --button-warning-color: var(--white);
    --text-color: var(--gray-800);
    --text-color-dark: hsl(229, 24%, 21%);
    --text-color-light: hsl(215, 14%, 67%);
    --box-shadow-lg: 0 10px 15px -3px hsla(222, 47%, 11%, 0.1), 0 4px 6px -2px hsla(222, 47%, 11%, 0.05); // it uses --gray-900
    --content-panel-bg: hsl(210, 45%, 98%);
    --fieldset-bg: hsl(210, 30%, 97%);
    --code-editor-string-color: #032f62;
    --code-editor-keyword-color: #d73a49;
    --code-editor-comment-color: #22863a;
    --code-editor-definition-color: #e36209;
    --code-editor-variable-color: var(--form-input-text-color);
    --code-editor-number-color: var(--form-input-text-color);
    --code-editor-argument-color: #6f42c1;
    --code-editor-key-color: #005cc5;
    --code-editor-attribute-color: #22863a;
    --code-editor-addition-bg: #e6ffed;
    --code-editor-deletion-bg: #ffeef0;

    --page-login-bg: var(--gray-100);
    --page-login-form-bg: var(--white);
    --page-login-form-control-bg: var(--form-control-bg);
    --page-login-form-control-border-color: var(--form-input-border-color);
    --page-login-form-control-button-bg: var(--button-primary-bg);

    --zindex-700: 777;
    --zindex-800: 888;
    --zindex-900: 999;
    --zindex-1050: 1050;

    --text-blue-600: hsl(206, 91%, 30%);
    --text-green-600: hsl(159, 75%, 21%);
    --text-indigo-600: hsl(231, 48%, 45%);
    --text-red-600: hsl(338, 71%, 37%);
    --text-yellow-600: hsl(20, 94%, 30%);

    --color-primary: hsl(230, 61%, 58%); // custom shade between indigo-400 and indigo-500
    --color-success: hsl(157, 69%, 38%);
    --color-info: hsl(201, 94%, 37%);
    --color-warning: hsl(30, 81%, 47%);
    --color-danger: var(--red-600);

    --highlight-bg: rgba(255, 237, 40, .4);

    --text-on-primary: var(--white);
    --text-muted: var(--gray-500);

    --link-color: hsl(230, 60%, 60%);
    --link-hover-color: hsl(230, 60%, 75%);
    --link-hover-decoration: none;
    --link-danger-color: var(--red-600);
    --link-danger-hover-color: var(--red-500);

    --border-radius: 4px;
    --border-width: 1px;
    --border-style: solid;
    --border-color: hsl(213, 24%, 91%);

    @media (prefers-color-scheme: dark) {
        --text-primary-color: var(--text-color);
        --text-secondary-color: var(--text-muted);
        --text-tertiary-color: var(--true-gray-500);
        --border-primary-color: var(--true-gray-500);
        --border-secondary-color: var(--true-gray-600);
        --border-tertiary-color: var(--true-gray-700);
        --primary-bg: var(--true-gray-500);
        --secondary-bg: var(--true-gray-700);
        --tertiary-bg: var(--true-gray-900);

        --shadow-md: 0 4px 6px -1px rgb(0, 0, 0, 0.3), 0 2px 4px -2px rgb(0, 0, 0, 0.3);
        --shadow-lg: 0 10px 15px -3px rgb(0, 0, 0, 0.3), 0 4px 6px -4px rgb(0, 0, 0, 0.3);
        --shadow-xl: 0 20px 25px -5px rgba(0, 0, 0, 0.4), 0 8px 10px -6px rgba(0, 0, 0, 0.4);
        --body-bg: #222222; // custom value between --true-gray-900 and --true-gray-800
        --responsive-header-bg: #303030;
        --responsive-header-border-color: var(--true-gray-600);
        --responsive-header-logo-color: var(--true-gray-300);
        --responsive-table-label-color: var(--true-gray-500);
        --responsive-table-row-border-color: var(--true-gray-700);
        --sidebar-bg: #303030; // custom value between --true-gray-800 and --true-gray-700
        --sidebar-border-color: var(--true-gray-700);
        --sidebar-logo-color: var(--true-gray-200);
        --sidebar-menu-color: #b5b5b5; // custom value between --true-gray-400 and --true-gray-300
        --sidebar-menu-badge-bg: var(--true-gray-800);
        --sidebar-menu-badge-color: var(--true-gray-300);
        --sidebar-menu-badge-active-bg: var(--blue-800);
        --sidebar-menu-badge-active-color: var(--true-gray-300);
        --sidebar-menu-submenu-color: var(--true-gray-600);
        --sidebar-menu-header-color: var(--true-gray-400);
        --sidebar-menu-icon-color: var(--true-gray-500);
        --sidebar-menu-active-item-bg: var(--true-gray-700);
        --sidebar-menu-active-item-color: var(--blue-400);
        --sidebar-menu-compact-hover-box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -4px rgba(0, 0, 0, 0.1);
        --resize-handler-hover-bg: var(--indigo-400);
        --content-section-border-color: var(--true-gray-700);
        --content-search-input-bg: var(--body-bg);
        --content-search-icon-color: var(--true-gray-500);
        --content-search-reset-button-bg: var(--true-gray-800);
        --content-search-reset-button-color: var(--true-gray-300);
        --content-search-reset-button-hover-bg: var(--true-gray-700);
        --content-search-reset-button-hover-color: var(--true-gray-200);
        --content-top-border-color: var(--true-gray-600);
        --content-bg: var(--true-gray-900);
        --user-avatar-icon-bg: var(--true-gray-700);
        --user-avatar-icon-color: var(--true-gray-500);
        --user-name-color: var(--true-gray-500);
        --user-menu-impersonated-link-color: var(--color-primary);
        --popover-bg: #303030;
        --popover-border-color: var(--true-gray-600);
        --popover-color: var(--text-color);
        --popover-shadow: var(--shadow-xl);
        --popover-max-width: 480px;
        --dropdown-toggle-bg: var(--true-gray-600);
        --dropdown-toggle-color: var(--true-gray-200);
        --dropdown-toggle-border-color: var(--true-gray-600);
        --dropdown-toggle-hover-border-color: var(--true-gray-500);
        --dropdown-bg: #303030;
        --dropdown-color: var(--true-gray-300);
        --dropdown-border-color: var(--true-gray-600);
        --dropdown-link-color: var(--true-gray-300);
        --dropdown-link-hover-bg: var(--true-gray-700);
        --dropdown-icon-color: var(--true-gray-400);
        --dropdown-settings-icon-color: var(--true-gray-500);
        --dropdown-settings-active-item-bg: var(--true-gray-800);
        --dropdown-settings-active-item-color: var(--color-primary);
        --dropdown-settings-active-item-shadow: inset 0 0 0 1px var(--true-gray-500);
        --datagrid-noresults-placeholder-bg: var(--true-gray-700);
        --datagrid-hidden-results-gradient-bg: var(--true-gray-700);
        --table-thead-color: var(--true-gray-200);
        --table-cell-color: var(--true-gray-300);
        --table-thead-marker-color: var(--true-gray-500);
        --table-cell-border-color: var(--true-gray-700);
        --table-hover-cell-bg: var(--true-gray-800);
        --table-selected-cell-bg: rgba(3, 102, 214, 0.25);
        --table-thead-sorted-color: var(--color-primary);
        --table-thead-sorted-marker-color: var(--color-primary);
        --datalist-border-color: var(--true-gray-600);
        --datalist-label-color: var(--true-gray-400);
        --datalist-value-color: var(--true-gray-300);
        --pagination-color: var(--true-gray-400);
        --pagination-hover-border-color: var(--true-gray-600);
        --pagination-active-bg: var(--blue-500);
        --pagination-active-color: var(--white);
        --field-language-badge-border-color: var(--true-gray-600);
        --field-country-flag-border-color: var(--true-gray-600);
        --modal-bg: var(--true-gray-800);
        --modal-border-color: var(--true-gray-600);
        --modal-header-bg: var(--true-gray-900);
        --modal-header-border-color: var(--true-gray-600);
        --modal-footer-bg: var(--true-gray-700);
        --modal-title-color: var(--true-gray-400);
        --pagination-disabled-color: var(--true-gray-600);
        --form-label-color: var(--true-gray-300);
        --form-control-bg: var(--true-gray-700);
        --form-control-disabled-bg: var(--true-gray-800);
        --form-control-disabled-color: #939393;
        --form-input-border-color: var(--true-gray-600);
        --form-input-error-border-color: var(--red-500);
        --form-input-hover-border-color: var(--true-gray-400);
        --form-input-shadow: 0 1px 2px 0 var(--true-gray-800);
        --form-input-hover-shadow: 0 0 0 4px var(--true-gray-800);
        --form-input-error-shadow: 0 0 0 3px var(--red-900);
        --form-input-text-color: var(--true-gray-200);
        --form-input-group-text-bg: var(--true-gray-800);
        --form-input-group-text-border-color: var(--true-gray-600);
        --form-switch-bg: var(--true-gray-600);
        --form-switch-border-color: var(--true-gray-700);
        --form-switch-checked-bg: var(--blue-600);
        --form-type-check-input-border-color: var(--true-gray-400);
        --form-type-check-input-box-shadow: 0 1px 2px 0 var(--true-gray-800);
        --form-type-check-input-checked-bg: var(--blue-600);
        --form-type-text-editor-toolbar-bg: var(--true-gray-800);
        --form-type-text-editor-toolbar-button-color: var(--true-gray-400);
        --form-type-text-editor-toolbar-button-hover-color: var(--true-gray-700);
        --form-type-text-editor-toolbar-button-active-bg: var(--true-gray-700);
        --form-type-text-editor-toolbar-button-active-color: var(--true-gray-300);
        --form-type-text-editor-dialog-bg: var(--true-gray-800);
        --form-type-text-editor-dialog-box-shadow: 0 4px 12px var(--true-gray-900);
        --form-type-text-editor-content-pre-bg: var(--true-gray-800);
        --form-type-text-editor-content-pre-color: var(--true-gray-300);
        --form-type-collection-item-collapsed-hover-bg: var(--true-gray-800);
        --form-type-autocomplete-dropdown-bg: var(--true-gray-800);
        --form-type-autocomplete-dropdown-input-wrapper-bg: var(--true-gray-900);
        --form-type-autocomplete-dropdown-input-border-color: transparent;
        --form-type-autocomplete-dropdown-active-item-bg: var(--true-gray-700);
        --form-type-autocomplete-close-button-bg: var(--true-gray-500);
        --form-type-autocomplete-close-button-hover-bg: var(--true-gray-800);
        --form-type-autocomplete-optgroup-bg: var(--form-type-autocomplete-dropdown-bg);
        --form-type-autocomplete-optgroup-color: var(--true-gray-400);
        --form-type-autocomplete-multi-item-bg: var(--true-gray-700);
        --form-type-autocomplete-multi-item-border-color: var(--true-gray-500);
        --form-type-autocomplete-multi-item-remove-button-hover-bg: var(--true-gray-800);
        --form-help-color: var(--true-gray-500);
        --form-help-error-color: var(--true-gray-200);
        --form-help-active-color: var(--true-gray-300);
        --form-tabs-border-color: var(--true-gray-200);
        --form-panel-header-color: var(--true-gray-300);
        --form-panel-help-color: var(--true-gray-500);
        --form-panel-header-border-color: var(--true-gray-600);
        --form-panel-icon-color: var(--true-gray-500);
        --form-panel-collapse-marker-color: var(--true-gray-400);
        --form-collection-item-collapse-marker-color: var(--true-gray-400);
        --badge-box-shadow: inset 0 0 0 1px rgba(245, 245, 245, 0.3);
        --badge-boolean-false-bg: rgba(245, 245, 245, 0.1);
        --badge-boolean-false-box-shadow: inset 0 0 0 1px rgba(245, 245, 245, 0.3);
        --badge-boolean-false-color: var(--true-gray-200);
        --badge-boolean-true-bg: rgba(3, 102, 214, 0.18);
        --badge-boolean-true-box-shadow: inset 0 0 0 1px rgba(90, 168, 252, 0.3);
        --badge-boolean-true-color: rgb(90, 168, 252);
        --badge-success-bg: rgba(22, 135, 0, 0.18);
        --badge-success-box-shadow: inset 0 0 0 1px rgba(39, 236, 0, 0.3);
        --badge-success-color: var(--green-300);
        --badge-warning-bg: rgba(251, 202, 4, 0.18);
        --badge-warning-box-shadow: inset 0 0 0 1px rgba(250, 201, 5, 0.3);
        --badge-warning-color: var(--yellow-400);
        --badge-danger-bg: rgba(182, 2, 5, 0.18);
        --badge-danger-box-shadow: inset 0 0 0 1px rgba(253, 155, 157, 0.3);
        --badge-danger-color: var(--red-300);
        --badge-info-bg: rgba(3, 102, 214, 0.18);
        --badge-info-box-shadow: inset 0 0 0 1px rgba(90, 168, 252, 0.3);
        --badge-info-color: rgb(90, 168, 252);
        --badge-primary-bg: rgba(3, 102, 214, 0.18);
        --badge-primary-box-shadow: inset 0 0 0 1px rgba(90, 168, 252, 0.3);
        --badge-primary-color: rgb(90, 168, 252);
        --badge-secondary-bg: rgba(245, 245, 245, 0.1);
        --badge-secondary-box-shadow: inset 0 0 0 1px rgba(245, 245, 245, 0.3);
        --badge-secondary-color: var(--true-gray-200);
        --badge-light-bg: rgba(255, 255, 255, 0.18);
        --badge-light-box-shadow:inset 0 0 0 1px rgba(255, 255, 255, 0.3);
        --badge-light-color: rgb(255, 255, 255);
        --badge-dark-bg: rgba(0, 0, 0, 0.18);
        --badge-dark-box-shadow: inset 0 0 0 1px rgba(153, 153, 153, 0.3);
        --badge-dark-color: rgb(153, 153, 153);
        --alert-primary-bg: var(--indigo-900);
        --alert-primary-color: var(--indigo-100);
        --alert-primary-border-color: var(--indigo-800);
        --alert-secondary-bg: var(--true-gray-700);
        --alert-secondary-color: var(--true-gray-300);
        --alert-secondary-border-color: var(--true-gray-600);
        --alert-success-bg: var(--emerald-800);
        --alert-success-color: var(--emerald-100);
        --alert-success-border-color: var(--emerald-700);
        --alert-info-bg: var(--sky-800);
        --alert-info-color: var(--sky-100);
        --alert-info-border-color: var(--sky-700);
        --alert-warning-bg: var(--orange-800);
        --alert-warning-color: var(--orange-100);
        --alert-warning-border-color: var(--orange-700);
        --alert-danger-bg: var(--red-800);
        --alert-danger-color: var(--red-100);
        --alert-danger-border-color: var(--red-700);
        --alert-light-bg: var(--true-gray-300);
        --alert-light-color: var(--true-gray-800);
        --alert-light-border-color: var(--true-gray-200);
        --alert-dark-bg: var(--true-gray-900);
        --alert-dark-color: var(--true-gray-200);
        --alert-dark-border-color: var(--true-gray-700);
        --button-bg: var(--true-gray-600);
        --button-color: var(--true-gray-200);
        --button-hover-color: var(--true-gray-100);
        --button-active-color: var(--true-gray-100);
        --button-border-color: var(--true-gray-700);
        --button-hover-border-color: var(--true-gray-600);
        --button-shadow:
            /* border */
            0 0 0 1px var(--true-gray-700),
            /* drop shadow md (--true-gray-900) */
            0 1px 1px 0 hsla(0, 0%, 9%, 0.5),
            /* drop shadow lg (--true-gray-700) */
            0 2px 5px 0 hsla(0, 0%, 25%, 0.5);
        --button-hover-shadow:
            /* border */
            0 0 0 1px var(--true-gray-800),
            /* drop shadow md (--true-gray-900) */
            0 1px 1px 0 hsla(0, 0%, 9%, 0.5),
            /* drop shadow lg (--true-gray-800) */
            0 2px 5px 0 hsla(0, 0%, 15%, 0.5),
            /* drop shadow xl (--true-gray-800) */
            0 3px 9px 0 hsla(0, 0%, 15%, 0.5);
        --button-active-shadow:
            /* border */
            0 0 0 1px var(--true-gray-900),
            /* ring */
            0 0 0 4px var(--true-gray-800),
            /* drop shadow md (--true-gray-900) */
            0 1px 1px 0 hsla(0, 0%, 9%, 0.9),
            /* drop shadow lg (--true-gray-800) */
            0 2px 5px 0 hsla(0, 0%, 15%, 0.9),
            /* drop shadow xl (--true-gray-800) */
            0 3px 9px 0 hsla(0, 0%, 15%, 0.9);
        --button-active-primary-shadow:
            /* border */
            0 0 0 1px var(--true-gray-700),
            /* ring */
            0 0 0 4px var(--blue-700),
            /* drop shadow md (--true-gray-900) */
            0 1px 1px 0 hsla(0, 0%, 9%, 0.9),
            /* drop shadow lg (--true-gray-800) */
            0 2px 5px 0 hsla(0, 0%, 15%, 0.9),
            /* drop shadow xl (--true-gray-800) */
            0 3px 9px 0 hsla(0, 0%, 15%, 0.9);
        --button-primary-bg: var(--blue-600);
        --button-primary-color: var(--text-on-primary);
        --button-secondary-bg: var(--true-gray-600);
        --button-secondary-color: var(--button-color);
        --button-info-bg: var(--color-info);
        --button-info-color: var(--white);
        --button-success-bg: var(--color-success);
        --button-success-color: var(--white);
        --button-danger-bg: var(--color-danger);
        --button-danger-color: var(--white);
        --button-warning-bg: var(--color-warning);
        --button-warning-color: var(--white);
        --text-color: var(--true-gray-300);
        --text-color-dark: var(--true-gray-200);
        --text-color-light: var(--true-gray-400);
        --box-shadow-lg: 0 10px 15px -3px hsla(222, 47%, 11%, 0.1), 0 4px 6px -2px hsla(222, 47%, 11%, 0.05); // it uses --true-gray-900
        --content-panel-bg: hsl(210, 45%, 98%);
        --fieldset-bg: hsl(210, 30%, 97%);
        --code-editor-string-color: #a5d6ff;
        --code-editor-keyword-color: #ff7b72;
        --code-editor-comment-color: #7ee787;
        --code-editor-definition-color: #e36209;
        --code-editor-variable-color: var(--form-input-text-color);
        --code-editor-number-color: var(--form-input-text-color);
        --code-editor-argument-color: #d2a8ff;
        --code-editor-key-color: #a5d6ff;
        --code-editor-attribute-color: #7ee787;
        --code-editor-addition-bg: rgba(46, 160, 67, 0.3);
        --code-editor-deletion-bg: rgba(218, 54, 51, 0.3);

        --page-login-bg: var(--true-gray-800);
        --page-login-form-bg: var(--true-gray-700);
        --page-login-form-control-bg: var(--true-gray-800);
        --page-login-form-control-border-color: var(--true-gray-600);
        --page-login-form-control-button-bg: var(--blue-700);

        --text-blue-600: hsl(206, 91%, 30%);
        --text-green-600: hsl(159, 75%, 21%);
        --text-indigo-600: hsl(231, 48%, 45%);
        --text-red-600: hsl(338, 71%, 37%);
        --text-yellow-600: hsl(20, 94%, 30%);

        --color-primary: hsl(213deg 94% 71%);
        --color-success: hsl(157, 69%, 38%);
        --color-info: hsl(201, 94%, 37%);
        --color-warning: hsl(30, 81%, 47%);
        --color-danger: var(--red-500);
        --bs-danger-rgb: 239, 68, 68;

        --highlight-bg: rgba(210, 153, 34, 0.4);

        --text-on-primary: var(--white);
        --text-muted: var(--true-gray-400);

        --link-color: var(--blue-400);
        --link-hover-color: var(--blue-300);
        --link-hover-decoration: none;

        --border-color: hsl(213, 24%, 91%);
    }
}
