{% extends 'base.html.twig' %}

{% block title %}Search for a BIOS - TRW{% endblock %}

{% block metatags %}
	<meta name="description" content="Search for a motherboard BIOS by POST string, chipset, manufacturer, and more.">
	<link rel="alternate" hreflang="x-default" href="{{ absolute_url(path('biossearch')) }}"/>
{% endblock %}
{% block extra_javascripts %}
	<script src="/build/js/tom-select.complete.min.js" defer></script>
	<script src="/build/js/search.js" defer></script>
{% endblock %}
{% block subnav %}
<a href="{{ path('mobosearch') }}" class="nav-link">
	<span class="navbar-label">Motherboard</span>
</a>
<a href="{{ path('biossearch') }}" class="nav-link active">
	<span class="navbar-label">BIOS</span>
</a>
{% endblock %}
{% block body %}
	{{ form_start(form, {'method': 'POST', 'name': 'search', 'action':path("biossearch"), 'attr':{'onkeydown': 'return event.key != \'Enter\'', 'data-live-action': path('bioslivewrapper')}}) }}
	<fieldset id="search-fieldset">
		<div class="title">Search for a BIOS</div>
		<section class="search-form-grid">
			<div class="search-form-entry">
				<label class="search-form-label" for="search_manufacturer" title="This is the BIOS manufacturer (e.g: AMI, Award, Phoenix)">
					<span>BIOS manufacturer</span>
					<img src="{{ absolute_url(asset('build/icons/help.svg')) }}" alt="" width="16" height="16">
				</label>
				<div class="search-form-widget">
					<div id="setmanuf">{{ form_widget(form.manufacturer, {'attr': {'class': 'sform'}}) }}</div>
				</div>
			</div>
			<div class="search-form-entry">
				<label class="search-form-label" for="search_moboManufacturer" title="This is the motherboard manufacturer (e.g: ASUS, Gigabyte)">
					<span>Motherboard manufacturer</span>
					<img src="{{ absolute_url(asset('build/icons/help.svg')) }}" alt="" width="16" height="16">
				</label>
				<div class="search-form-widget">
					<div id="setmanuf">{{ form_widget(form.moboManufacturer, {'attr': {'class': 'sform'}}) }}</div>
				</div>
			</div>
			<div class="search-form-entry">
				<label class="search-form-label" for="search_chipset" title="Select a chipset from the list by typing its name">
					<span>Chipset</span>
					<img src="{{ absolute_url(asset('build/icons/help.svg')) }}" alt="" width="16" height="16">
				</label>
				<div class="search-form-widget">
					<div class="search-chipset-ts">{{ form_widget(form.chipset) }}</div>
				</div>
			</div>
			<div class="search-form-entry">
				<label class="search-form-label" for="search_post_string">
					<span>POST string</span>
				</label>
				<div class="search-form-widget">
					<div>{{ form_widget(form.post_string) }}</div>
				</div>
			</div>

			<div class="search-form-entry">
				<label class="search-form-label" for="search_core_version" title="This is the version of the BIOS's core (e.g. 4.51pg)">
					<span>Core version</span>
					<img src="{{ absolute_url(asset('build/icons/help.svg')) }}" alt="" width="16" height="16">
				</label>
				<div class="search-form-widget">
					<div>{{ form_widget(form.core_version, {'attr': {'style': 'width:15%', 'size': '50'}}) }}</div>
				</div>
			</div>
			<div class="search-form-entry">
				<label class="search-form-label" for="search_file_name" title="This is the name of the uploaded file">
					<span>File name</span>
					<img src="{{ absolute_url(asset('build/icons/help.svg')) }}" alt="" width="16" height="16">
				</label>
				<div class="search-form-widget">
					<div>{{ form_widget(form.file_name, {'attr': {'style': 'width:15%', 'size': '50'}}) }}</div>
				</div>
			</div>
			<div class="search-form-filter">
				<label class="search-form-label" title="">
					<span>Expansion chips</span>
					{% include 'macros/buttons.html.twig' with {'type':'add', 'action': 'expansionChips'} %}
				</label>
				<div class="search-form-widget filter-list" id="expansionChips-fields-list" data-widget-counter="{{ form.expansionChips|length }}" data-prototype="
					{{ form_widget(form.expansionChips.vars.prototype, {'attr': {'style': 'width:50%'}})|e }}
					{% include 'macros/buttons.html.twig' with {'type':'del'} %}</div>">
					{% for expchip in form.expansionChips %}
						<div class="editor-row">
							{{ form_widget(expchip, {'attr': {'style': 'width:50%'}}) }}
							{% include 'macros/buttons.html.twig' with {'type':'del'} %}
							{{ form_errors(expchip) }}
						</div>
					{% endfor %}
				</div>
			</div>
		</section>
		{% include 'macros/searchitems.html.twig' with {'datatarget': 'bios', 'dataresetids': 'search_chipsetManufacturer', 'bios_list' : true} %}
	</fieldset>
	{{ form_end(form, {render_rest: false}) }}
	<!-- Search results -->
	<section id="search_liveResults">
	{% if bios is defined %}
		{% include 'bios/result.html.twig' with {'bios': bios, 'route': true} %}
	{% endif %}
	</section>
{% endblock %}