{% extends 'base.html.twig' %}

{% block title %}Search chipsets - TRW{% endblock %}

{% block metatags %}
	<meta name="description" content="Search for a chipset by name, manufacturer and part number.">
	<link rel="alternate" hreflang="x-default" href="{{ absolute_url(path('chipsetsearch')) }}"/>
{% endblock %}
{% block extra_javascripts %}
	<script src="/build/js/tom-select.complete.min.js" defer></script>
	<script src="/build/js/search.js" defer></script>
{% endblock %}
{% block subnav %}
<a href="{{ path('expansionchipsearch') }}" class="nav-link">
	<span class="navbar-label">Expansion chip</span>
</a>
<a href="{{ path('chipsetsearch') }}" class="nav-link active">
	<span class="navbar-label">Chipset</span>
</a>
{% endblock %}
{% block body %}
	{{ form_start(form, {'method': 'POST', 'name': 'search_chipset', 'action':path("chipsetsearch"), 'attr':{'onkeydown': 'return event.key != \'Enter\'', 'data-live-action': path('chipsetlivewrapper')}}) }}
	<fieldset id="search-fieldset">
		<div class="title">Search for chipsets</div>
		{# <div class="index-title">
			List chipsets whose manufacturer name starts with<br>
		</div>
		<div class="index-list">
			{% for letter in ['A','B','C','D','E','F','G','H','I','J','K','L','M','N','O','P','Q','R','S','T','U','V','W','X','Y','Z']%}
				<a class="index-letter" href="{{path("chipsetindex", {"letter":letter})}}">{{letter}}</a>
			{% endfor %}
		</div> #}
		<section class="search-form-grid" style="display:flex;justify-content:center;flex-wrap:wrap;">
			<div class="search-form-entry" style="min-width:min(27em,50vw);">
				<label class="search-form-label" for="search_chipsetManufacturer" title="This is where you select the manufacturer name and enter the chipset part number.">
					<span>Manufacturer and name</span>
					<img src="{{ absolute_url(asset('build/icons/help.svg')) }}" alt="" width="16" height="16">
				</label>
				<div class="search-form-widget">
					<div>{{ form_widget(form.chipsetManufacturer) }}</div>
					<div>{{ form_widget(form.name, {'attr': {'placeholder': 'Name or Part number (without manufacturer) ...'}}) }}</div>
				</div>
			</div>
		</section>
		{% include 'macros/searchitems.html.twig' with {'datatarget': 'chipsets', 'dataresetids': 'search_chipsetManufacturer search_cpuSocket1 search_cpuSocket2', 'search_with_images' : true} %}
	</fieldset>
	{{ form_end(form, {render_rest: false}) }}
	<!-- Search results -->
	<section id="search_liveResults">
	{% if chipsets is defined %}
		{% include 'chipset/result.html.twig' with {'chipsets': chipsets, 'show_images': show_images, 'route': true} %}
	{% endif %}
	</section>
{% endblock %}
