{% extends 'base.html.twig' %}
{% from 'macros/largeFile.html.twig' import link as driverLink %}
{% from 'macros/largeFile.html.twig' import header as driverHeader %}

{% block title %}{{ chipset.getNameWithoutParts() }} - The Retro Web{% endblock %}
{% block metatags %}
	<meta name="description" content="{{ chipset.getMetaDescription() }}">
	<link rel="canonical" hreflang="x-default" href="{{ absolute_url(path('chipset_show', {id: chipset.getId()})) }}"/>
{% endblock %}
{% block extra_javascripts %}
	<script src="/build/js/show.js" defer></script>
{% endblock %}

{% block opengraph %}
	{% apply spaceless %}
		<meta name="twitter:card" content="summary">
		<meta property="og:site_name" content="The Retro Web">
		<meta property="og:type" content="website">
		<meta name="twitter:title" content="{{ chipset.getNameWithoutParts() }}">
		<meta property="og:title" content="{{ chipset.getNameWithoutParts() }}">
		<meta name="twitter:description" content="{{ chipset.getMetaDescription() }}">
		<meta property="og:description" content="{{ chipset.getMetaDescription() }}">
		<meta property="og:url" content="{{ absolute_url(path('chipset_show', {id: chipset.getId()})) }}">
		{% if chipset.getExpansionChips() is not empty %}
			{% for chipPart in chipset.getExpansionChips()|filter(chipPart => chipPart.getImages() is not empty)|slice(0,1) %}
				{% for image in chipPart.getImages()|slice(0,1) %}
					<meta property="og:image" content="{{ vich_uploader_asset(image, 'imageFile')}}">
					<meta name="twitter:image" content="{{ vich_uploader_asset(image, 'imageFile')}}">
				{% endfor %}
			{% endfor %}
		{% else %}
			<meta name="twitter:image" content="{{ absolute_url(asset('build/images/missing/chipset-missing.jpg')) }}">
			<meta property="og:image" content="{{ absolute_url(asset('build/images/missing/chipset-missing.jpg')) }}">
		{% endif %}
	{% endapply %}
{% endblock %}
{% block subnav %}
<a href="{{ path('expansionchipsearch') }}" class="nav-link">
	<span class="navbar-label">Expansion chip</span>
</a>
<a href="{{ path('chipsetsearch') }}" class="nav-link active">
	<span class="navbar-label">Chipset</span>
</a>
{% endblock %}
{% block body %}
<!-- MANUF./NAME/PART NO. -->
<div class="title">{{ chipset.getNameWithoutParts() }}</div>
<div class="main-strip">
	<div class="internal-container">
		{% include 'macros/navbar.html.twig' with {'entity': chipset, 'entityName': 'Chipset', 'name': 'chipset'} %}
		<div class="internal-content">
			<!-- DESCRIPRION -->
			<div class="show-general" id="sh-general">
				<div class="quick-spec-table">
					<!-- Chipset parts -->
					<div class="quick-spec-head">
						<img src="{{ absolute_url(asset('build/icons/chipset.svg')) }}" alt="chip" width="24" height="24">Chipset parts
					</div>
					{% if chipset.getExpansionChips() is not empty %}
					<div class="tag-container">
						{% for part in chipset.getExpansionChips() %}
							<a href="{{ path('expansion_chip_show', {id: part.getId()}) }}"><span class="text-block">{{ part.getNameWithManufacturer() }}</span></a>
						{% endfor %}
					</div>
					{% else %}<div>Unknown</div>{% endif %}
					<!-- Release date -->
					<div class="quick-spec-head">
						<img src="{{ absolute_url(asset('build/icons/calendar.svg')) }}" alt="date" width="24" height="24">Release date
					</div>
					<div>{{ chipset.getReleaseDate() ? chipset.getReleaseDateString() : 'Unknown' }}</div>
					<!-- Actions -->
					<div class="quick-spec-head">
						<img src="{{ absolute_url(asset('build/icons/cursor.svg')) }}" alt="act" width="24" height="24">Actions
					</div>
					<div>
					<div class="toolbar">
						{% if chipset.getEncyclopediaLink() is not null %}
						<a class='button-widget' href="{{ chipset.getEncyclopediaLink() }}">
							<img src='{{ absolute_url(asset('build/icons/data.svg')) }}' alt='' width='16' height='16' style='vertical-align:middle;padding:3px;'>Encyclopedia link</a>
						{% endif %}
						<a class='button-widget' href="{{ absolute_url(path('app_homepage')) }}motherboards/?chipsetId={{ chipset.getId() }}&amp;showImages=1">
							<img src='{{ absolute_url(asset('build/icons/hardware.svg')) }}' alt='' width='16' height='16' style='vertical-align:middle;padding:3px;'>See all boards with this chipset</a>
						<a class='button-widget' href="{{ absolute_url(path('app_homepage')) }}bios/?chipsetId={{ chipset.getId() }}">
							<img src='{{ absolute_url(asset('build/icons/dw.svg')) }}' alt='' width='16' height='16' style='vertical-align:middle;padding:3px;'>See all BIOSes for this chipset</a>
						</div>
					</div>
				</div>
				{% include 'macros/aliases.html.twig' with {'entity':chipset.getChipsetAliases(), 'msg': 'Also known as:'} %}
				{% include 'macros/notes.html.twig' with {'entity': chipset} %}
				<div class="chipset-textarea">
				{% if chipset.getExpansionChips() is not empty %}
					{% set dcount = false %}
					{% for chipPart in chipset.getExpansionChips()|filter(chipPart => chipPart.getDescription() is not empty) %}{% set dcount = true %}{% endfor %}
					{% if dcount == true %}
						<hr>
						<h1>Documented parts</h1>
						<ul class="chipset-toc">
							{% for chipPart in chipset.getExpansionChips()|filter(chipPart => chipPart.getDescription() is not empty) %}
							<li><a href="{{ path("expansion_chip_show", {id:chipPart.getId()}) }}">{{ chipPart.getNameWithManufacturer() }}{% if chipPart.getChipAliases() is not empty %}&nbsp;(known as:{% for cp in chipPart.getChipAliases() %}
							{{ cp.getManufacturer().getName() }}&nbsp;{{ cp.getPartNumber() }} {{ cp.getName() ? '[' ~ cp.getName() ~ ']' }}{% if not loop.last%}, {% endif %}{% endfor %}){% endif %}</a></li>
							{% endfor %}
						</ul>
					{% endif %}
				{% endif %}
				</div>
				<div id="index-datetime"><div class="div-datetime">Last updated <span class="perk-date">{{ chipset.getLastEdited()|date("Y-m-d\\TH:i:s", "GMT") }}Z</span></div></div>
			</div>

			<div class="show-downloads" id="sh-downloads">
				<!-- DRIVERS -->
				<div class="show-downloads-group">
					<div class="show-downloads-group-header">
						<img src="{{ absolute_url(asset('build/icons/hardware.svg')) }}" alt="drv" width="32" height="32">
						<span>{{ chipset.getDrivers.count() }} driver{% if chipset.getDrivers.count() != 1 %}s{% endif %} available</span>
					</div>
					{% if chipset.getDrivers() is not empty %}
					<div class="plain-list w300p table">
						<div class="list-entry centered head">
							<div>Language</div>
							<div>Media type</div>
							<div>OS support</div>
							<div>Name</div>
							<div>Version</div>
						</div>
						{% for driver in chipset.getDrivers() %}
						<div class="list-entry centered {% if loop.index is divisible by(2) %}alt{% endif %}">
							<div class="header-label">Language</div>
							<div>
								<div class="tag-container">
								{% for lang in driver.largeFile.getLanguages() %}
								<span class="combo">
									<img src="{{ asset('build/icons/language/' ~ lang.getIsoCode ~ '.svg') }}" alt="{{lang.getOriginalName()}}" title="{{lang.getOriginalName()}}" class="lang-flag{% if loop.length > 4 %}-lrg{% endif %}">
								</span>
								{% endfor %}
								</div>
							</div>
							<div class="header-label">Media type</div>
							<div>
								{% for relation in driver.largeFile.getMediaTypeFlags() %}
								<span class="combo">
									<b>{{relation.getCount()}}x</b>
									<img src="{{ vich_uploader_asset(relation.getMediaTypeFlag(), 'icon')}}" alt="{{relation.getMediaTypeFlag().getName()}}" title="{{relation.getMediaTypeFlag().getName()}}" width="32">
								</span>
								{% endfor %}
							</div>
							<div class="header-label">OS support</div>
							<div>
								<div class="tag-container">
								{% for os in driver.largeFile.getOsFlags()|sort((a, b) => a.getName <=> b.getName)|sort((a, b) => a.getVersion <=> b.getVersion) %}
								<span class="text-block">
									<img src="{{ asset('build/icons/os/' ~ os.getVersion ~ '.svg') }}" alt="{{os.getVersion}}"  width="16">
									<span>{{os.getName()}}</span>
								</span>
								{% endfor %}
								</div>
							</div>
							<div class="header-label">Name</div>
							<div><a href="{{ path("driver_show", {id: driver.largeFile.getId()}) }}">{{driver.largeFile.getName()}}</a></div>
							<div class="header-label">Version</div>
							<div>
								<a class="combo" href="{{ vich_uploader_asset(driver.largeFile, 'file')}}">
									<img src="{{ absolute_url(asset('build/icons/dw.svg')) }}" alt="" width="16">
									<span>{{ driver.largeFile.getFileVersion() ? driver.largeFile.getFileVersion() : 'Unknown' }}</span>
								</a>
							</div>
						</div>
						{% endfor %}
					</div>
					{% else %}
					{% endif %}
				</div>

				<!-- MANUALS -->
				<div class="show-downloads-group">
					{% set allDocs = chipset.getDocumentations() %}
					{% if chipset.getExpansionChips() is not empty %}
						<!-- CHIPSET PART DOC COUNT -->
						{% for chipPart in chipset.getExpansionChips() %}
							{% set allDocs = allDocs|merge(chipPart.getDocumentations()) %}
						{% endfor %}
					{% endif %}
					<div class="show-downloads-group-header">
						<img src="{{ absolute_url(asset('build/icons/manual.svg')) }}" alt="doc" width="32" height="32">
						<span>{{ allDocs|length }} document{% if allDocs|length != 1 %}s{% endif %} available</span>
					</div>
					{% if allDocs is not empty %}
					<div class="plain-list w300p table">
						<div class="list-entry centered head">
							<div>Language</div>
							<div>File</div>
						</div>
						{% for manual in allDocs|sort((a, b) => a.getLinkName <=> b.getLinkName) %}
						<div class="list-entry centered {% if loop.index is divisible by(2) %}alt{% endif %}">
							<div class="header-label">Language</div>
							<div>{{ manual.getLanguage().getName()}}</div>
							<div class="header-label">File</div>
							<div>
								<a class="combo" href="{{ vich_uploader_asset(manual, 'manualFile') }}">
									<img src="{{ absolute_url(asset('build/icons/dw.svg')) }}" alt="" width="16" height="16">
									<span>{{ manual.getLinkName() }}</span>
								</a>
							</div>
						</div>
						{% endfor %}
					</div>
					{% endif %}
				</div>
			</div>
		</div>
	</div>

	<!-- IMAGES -->
	{% if chipset.getExpansionChips() is not empty %}
		{% set lpindex = 0 %}
		{% set lplen = 0 %}
		{% for chipPart in chipset.getExpansionChips()|filter(chipPart => chipPart.getImages() is not empty) %}
			{% for image in chipPart.getImages() %}
				{% set lplen = lplen + 1 %}
			{% endfor %}
		{% endfor %}
		{% if lplen > 0 %}
			<div class="show-images" id="sh-images">
				{% for chipPart in chipset.getExpansionChips()|filter(chipPart => chipPart.getImages() is not empty) %}
					{% for image in chipPart.getImages()|sort((a, b) => a.getFileName() <=> b.getFileName()) %}
						{% set lpindex = lpindex + 1 %}
						{% include 'macros/images.html.twig' with {'type':'chipset', 'entity': image, 'index': lpindex, 'length': lplen} %}
					{% endfor %}
				{% endfor %}
			</div>
		{% else %}
		<div class="show-images" id="sh-images">
			<div class="show-image">
				<img src={{ absolute_url(asset('build/images/missing/chipset-missing.jpg')) }} title="no images available :(" style="width:100%;">
			</div>
		</div>
		{% endif %}
	{% else %}
	<div class="show-images" id="sh-images">
		<div class="show-image">
			<img src={{ absolute_url(asset('build/images/missing/chipset-missing.jpg')) }} title="no images available :(" style="width:100%;">
		</div>
	</div>
	{% endif %}

</div>
<div class="disclaimer">
	<p><b>Disclaimer</b></p>
	<p>The info found in this page might not be entirely correct. Check out <a href="{{ path('app_contributions') }}">this guide</a> to learn how you can improve it.</p>
</div>
{% endblock %}
